<template>
  <div class="main-content page-profile">
    <div class="page-header">
      <h3 class="page-title">Swarm Profile</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/swarm">Swarm</a>
        </li>
        <li class="breadcrumb-item active">{{form.first_name.concat(' ').concat(form.last_name)}}</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <tabs class="tabs-default">
              <tab id="profile" name="Profile">
                <div class="row">
                  <div id="table" class="col-md-8" align="center">
                    <table class="table table-striped table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th class="table-headeing">Property</th>
                          <th scope="col">Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-address-book" />
                            <b>Title:</b>
                          </td>
                          <td>
                            <div>
                             {{form.title}}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-map-marker" />
                            <b>About:</b>
                          </td>
                          <td>
                            <div v-if="form.about">{{form.about}}</div>
                            <div v-if="form.address===' '">{{form.NotAvailabe}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-user" />
                            <b>Created By:</b>
                          </td>
                          <td>
                            <router-link
                      :to="{ name: 'viewprofile', params: { userId: form.creatorId }}"
                      class="user-color"
                      v-b-popover.hover="'View Profile'"
                    >{{form.first_name.concat(' ').concat(form.last_name)}}</router-link>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>
                            <i class="icon-fa icon-fa-briefcase" />
                            <b>Created At:</b>
                          </td>
                          <td>
                            <div v-if="form.created_at">{{form.created_at | formatter}}</div>
                            <div v-else>{{form.NotAvailabe}}</div>
                          </td>
                        </tr> -->
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-home" />
                            <b>Swarm Events:</b>
                          </td>
                          <td>{{form.NotAvailabe}}
                            <!-- <div
                v-for="event in swarm_events" v-bind:key="event.id"
              >
                {{form.NotAvailabe}}
              </div> -->
                            
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-plus" />
                            <b>Swarm Members:</b>
                          </td>
                          <td v-if="swarm_members.length != 0">
                            <ol>
                              <li v-for="member in swarm_members" v-bind:key="member.id">
                         <router-link
                      :to="{ name: 'viewprofile', params: { userId: member.user[0].id }}"
                      class="user-color"
                      v-b-popover.hover="'View Profile'"
                    >{{member.user[0].first_name.concat(' ').concat(member.user[0].last_name)}}</router-link>
                              </li>
                            </ol>
                            <!-- <div
                v-for="member in swarm_members" v-bind:key="member.id"
              >
                <router-link
                      :to="{ name: 'viewprofile', params: { userId: member.user[0].id }}"
                      class="user-color"
                      v-b-popover.hover="'View Profile'"
                    >{{member.user[0].first_name.concat(' ').concat(member.user[0].last_name)}}</router-link>
              </div> -->
                            
                          </td>
                          <td v-else>
                             No members yet
                          </td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  <div id="profilepic" class="container-fluid col-md-4" align="center">
                    <img
                      @error="onImageLoadFailure($event)"
                      height="250"
                      width="250"
                      :src="imagelink + form.profile_picture"
                    />
                  </div>
                </div>
              </tab>
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
import { Tabs, Tab } from "vue-tabs-component";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";

export default {
  components: {
    tabs: Tabs,
    tab: Tab
  },
  data() {
    return {
      imagelink: imageLink,
      form: {
        title: "",
        about:"",
        first_name: "",
        last_name: "",
        user_name: "",
        profile_picture: "",
        Active: "",
        NotActive: "",
        NotAvailabe: "N/A"
      },
      swarm_members:[],
      swarm_events:[],
    };
  },
  mounted: function() {
    this.getSwarm();
  },
  filters: {
    formatter(value) {
      return moment(value).format("Do MMM YYYY");
    }
  },
  methods: {
    async getSwarm() {
      try {
        let swarmId = this.$route.params.swarmId;
        const response = await axios.get(`/api/admin/swarm/get_swarm_byid?swarm_id=${swarmId}`);
        // console.log(response.data.ResponseBody.Data[0])
        this.form.title = response.data.ResponseBody.Data[0].title;
        this.form.about = response.data.ResponseBody.Data[0].about_us;
        this.form.first_name = response.data.ResponseBody.Data[0].creator[0].first_name;
        this.form.creatorId = response.data.ResponseBody.Data[0].creator[0].id;
        this.form.last_name = response.data.ResponseBody.Data[0].creator[0].last_name;
        this.form.user_name = response.data.ResponseBody.Data[0].creator[0].user_name;
        this.swarm_members = response.data.ResponseBody.Data[0].swarm_members;
        this.swarm_events = response.data.ResponseBody.Data[0].swarm_events;
        
        this.form.profile_picture = response.data.profile_picture;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    }
  }
};
</script>
