<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Swarm</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Swarm Listing</li>
      </ol>
      <!-- <div class="page-actions">
        <router-link to="/Employees/add" v-if="Write == 1">
        <a href="/Employees/add" class="btn btn-primary">
          <i class="icon-fa icon-fa-plus"/> New Employee
        </a>
        </router-link>
      </div>-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body" v-if="Read == 1">
            <table-component
              :data="getSwarm"
              sort-by="id"
              sort-order="desc"
              table-class="table"
              ref="allSwarms"
            >
              <!-- <table-column
                :sortable="false"
                :filterable="false"
                label="Picture"
              >
                <template slot-scope="row">
                  <div>                   
                    <img  @error="onImageLoadFailure($event)"  height="27" :src="imagelink + row.avatar" />
                  </div>
                </template>
              </table-column>-->

              <table-column :sortable="false" :filterable="false" label="Title">
                <template slot-scope="row">
                  <router-link
                          :to="{ name: 'viewswarmprofile', params: { swarmId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.title}}</router-link>
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="About Us">
                <template slot-scope="row">{{row.about_us}}</template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Owner">
                <template slot-scope="row">
                  <router-link
                    :to="{ name: 'viewprofile', params: { userId: row.creator_id }}"
                    class="user-color"
                    v-b-popover.hover="'View Profile'"
                  >{{row.creator[0].first_name.concat(' ').concat(row.creator[0].last_name)}}</router-link>
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Total Members">
                <template slot-scope="row">
                  <span class="badge badge-pill badge-warning">{{row.members.length}}</span>
                </template>
              </table-column>

              <table-column
                show="created_at"
                label="Created On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
              <table-column :sortable="false" :filterable="false" label="Actions">
                <template slot-scope="row">
                  <div class="table__actions">
                    <a
                      v-b-popover.hover="'Swarm Members'"
                      class="btn btn-default btn-sm"
                      @click="$refs.swarm_members.open(),swarmMembers(row.id)"
                    >
                      <i class="icon-fa icon-fa-users" />
                    </a>

                    <a
                      v-b-popover.hover="'Add Members to Swarm'"
                      class="btn btn-default btn-sm"
                      @click="$refs.add_to_swarm.open(),addMembersToSwarm(row.id)"
                    >
                      <i class="icon-fa icon-fa-user-plus" />
                    </a>

                    <a
                      v-if="Delete == 1"
                      v-b-popover.hover="'DELETE'"
                      class="btn btn-default btn-sm"
                      data-delete
                      data-confirmation="notie"
                      @click="destroySwarm(row.id,RoleId)"
                    >
                      <i class="icon-fa icon-fa-trash" />
                    </a>
                  </div>
                </template>
              </table-column>
            </table-component>
            <sweet-modal ref="swarm_members" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Swarm Members</h6>
              </div>

              <div class="card-body">
                <table-component :data="getSwarmMembers" ref="get_members" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.swarmusers.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >
                          <img
                            @error="onImageLoadFailure($event)"
                            @click="$refs.tabpic.open(),modelopenpic(row.swarmusers.profile_picture)"
                            v-b-popover.hover="'View Profile Picture'"
                            height="27"
                            width="27"
                            :src="imagelink + row.swarmusers.profile_picture"
                          />
                        </router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.swarmusers.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.swarmusers.first_name.concat(' ').concat(row.swarmusers.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    show="created_at"
                    label="Added On"
                    data-type="date:YYYY-MM-DD"
                    :formatter="formatter"
                  />

                  <table-column :sortable="false" :filterable="false" label="Actions">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'DELETE'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="removeFromSwarm(row.swarmusers.id,row.swarm_id)"
                        >
                          <i class="icon-fa icon-fa-trash" />
                        </a>
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>
            <sweet-modal ref="add_to_swarm" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Add Members to Swarm</h6>
              </div>

              <div class="card-body">
                <table-component :data="getUsers" ref="add_to_swarm_users" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <!-- <router-link :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                        v-b-popover.hover="'View Profile'">-->

                        <img
                          @error="onImageLoadFailure($event)"
                          @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                          v-b-popover.hover="'View Profile Picture'"
                          height="27"
                          width="27"
                          :src="imagelink + row.profile_picture"
                        />
                        <!-- </router-link> -->
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column show="phone" :sortable="true" sort-by="Phone" label="Phone" />
                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'DELETE'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="addUser(row.id)"
                        >
                          <i class="icon-fa icon-fa-plus" />
                        </a>
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>
          </div>
          <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script type="text/babel">
import Ls from "../../../services/ls";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

export default {
  components: {
    TableComponent,
    TableColumn,
    SweetModal
    // SweetModalTab,
  },
  data() {
    return {
      users: [],
      imagelink: imageLink,
      Read: "",
      Write: "",
      Delete: "",
      admin_id: "",
      swarmID: "",
      SwarmId: "",
      RoleId: "",
      UserID: "",
      form: {
        UID: "",
        selectedstatus: "",
        packages: [],
        submitBtn: "Update"
      }
    };
  },
  mounted() {
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.admin_id = Ls.get("auth.admin_id");
    this.getadmin();
  },

  methods: {
    formatter(value, rowProperties) {
      return moment(value).format("Do MMM YYYY");
    },
    async getSwarm({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/swarm/get_all_swarm?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
        );
        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    },

    // Remove Swarm
    destroySwarm(id, RoleId) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.destroySwarmData(id);
        }
      });
    },

    async destroySwarmData(id, RoleId) {
      try {
        this.SwarmId = id;
        let response = await window.axios.delete(
          `/api/admin/swarm/delete_swarm?swarm_id=${this.SwarmId}&role_id=${this.RoleId}`
        );
        this.users = response.data;
        window.toastr["success"]("User Deleted", "Success");
        this.$refs.allSwarms.refresh();
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    swarmMembers(id) {
      this.swarmID = id;
      this.$refs.get_members.refresh();
    },
    async getSwarmMembers() {
      try {
        if (this.swarmID) {
          const response = await axios.get(
            `/api/admin/swarm/get_swarm_members?swarm_id=${this.swarmID}`
          );
          return {
            data: response.data.ResponseBody.Data[0].members
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async getadmin() {
      try {
        const response = await axios.get(
          `/api/admin/users/edit/${this.admin_id}`
        );
        this.RoleId = response.data.role_id;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    addMembersToSwarm(ID) {
      this.swarm_ID = ID;
      this.$refs.add_to_swarm_users.refresh();
    },
    async getUsers({ page, filter, sort }) {
      try {
        if (this.swarm_ID) {
          const response = await axios.get(
            `/api/admin/swarm/getUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}&swarm_id=${this.swarm_ID}`
          );
          // console.log(response.data.ResponseBody.Data)
          return {
            data: response.data.ResponseBody.Data,
            pagination: {
              totalPages: response.data.ResponseBody.Data.last_page,
              currentPage: page,
              count: response.data.count
            }
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async addUser(id) {
      try {
        this.UserID = id;
        let response = await window.axios.post(
          `/api/admin/swarm/add_swarm_member?swarm_id=${this.swarm_ID}&member=${this.UserID}&is_admin=${1}`
        );
        window.toastr["success"]("User Added", "Success");
        this.$refs.add_to_swarm_users.refresh();
        this.$refs.allSwarms.refresh();
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    removeFromSwarm(SUid, SID) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.removeFromSwarmData(SUid, SID);
        }
      });
    },

    async removeFromSwarmData(SUid, SID) {
      try {
        let response = await window.axios.post(
          `/api/admin/swarm/remove_swarm_member?swarm_id=${SID}&member=${SUid}`
        );
        this.users = response.data;
        window.toastr["success"]("User Deleted", "Success");
        this.$refs.get_members.refresh();
        this.$refs.allSwarms.refresh();
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    }
  }
};
</script>
