<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Edit Employees</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/users">
            <a>Employees</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form v-on:submit.prevent="submit">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFirstName">First Name</label>
                  <input
                    id="inputFirstName"
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    :class="{ 'is-invalid': $v.form.first_name.$error }"
                    v-model.trim="form.first_name"
                    @input="$v.form.first_name.$touch()"
                  />
                  <div v-if="$v.form.first_name.$error">
                    <span v-if="!$v.form.first_name.required" class="help-block help-block-error">
                      <p class="text-danger">Field is required.</p>
                    </span>
                    <span v-if="!$v.form.first_name.minLength" class="help-block help-block-error">
                      <p
                        class="text-danger"
                      >First Name must have at least {{ $v.form.first_name.$params.minLength.min }} letters.</p>
                    </span>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastName">Last Name</label>
                  <input
                    id="inputLastName"
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    v-model.trim="form.last_name"
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="exampleInputphone">Phone Number</label>
                  <input
                    id="exampleInputphone"
                    type="tel"
                    class="form-control"
                    aria-describedby="phoneHelp"
                    placeholder="Enter Phone"
                    :class="{ 'is-invalid': $v.form.phone.$error }"
                    v-model.trim="form.phone"
                    @input="$v.form.phone.$touch()"
                  />

                  <div v-if="$v.form.phone.$error">
                    <span v-if="!$v.form.phone.required" class="help-block help-block-error">
                      <p class="text-danger">Phone is required.</p>
                    </span>
                    <span v-if="!$v.form.phone.isUnique" class="help-block help-block-error">
                      <p class="text-danger">This phone is already registered.</p>
                    </span>
                    <span
                      v-if="!$v.form.phone.minLength"
                      class="help-block help-block-error text-warning"
                    >
                      <p
                        class="text-danger"
                      >Phone must have at least {{ $v.form.phone.$params.minLength.min }} letters.</p>
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input
                  id="exampleInputPassword1"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  :class="{ 'is-invalid': $v.form.password.$error }"
                  v-model.trim="form.password"
                  @input="$v.form.password.$touch()"
                />
                <div v-if="$v.form.password.$error">
                  <span v-if="!$v.form.password.required" class="help-block help-block-error">
                    <p class="text-danger">Password is required.</p>
                  </span>
                  <span v-if="!$v.form.password.minLength" class="help-block help-block-error">
                    <p
                      class="text-danger"
                    >Password must have at least {{ $v.form.password.$params.minLength.min }} letters.</p>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputrepeatPassword">Confirm Password</label>
                <input
                  id="exampleInputrepeatPassword"
                  type="password"
                  class="form-control"
                  placeholder="Confirm Password"
                  :class="{ 'is-invalid': $v.form.repeatPassword.$error }"
                  v-model.trim="form.repeatPassword"
                  @input="$v.form.repeatPassword.$touch()"
                />
                <div v-if="$v.form.repeatPassword.$error">
                  <span
                    v-if="!$v.form.repeatPassword.sameAsPassword"
                    class="help-block help-block-error"
                  >
                    <p class="text-danger">Passwords must be identical.</p>
                  </span>
                </div>
              </div>

              <div class="form-group col-4 hide margin-top">
                <label>Can Read</label>
                <toggle-button
                  :value="form.ReadPermissions"
                  color="lightseagreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  v-model.trim="form.ReadPermissions"
                  class="toggleStyle"
                />
              </div>

              <div class="form-group col-4 hide margin-top">
                <label>Can Write</label>
                <toggle-button
                  :value="form.WritePermissions"
                  color="lightseagreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  v-model.trim="form.WritePermissions"
                  class="toggleStyle"
                />
              </div>

              <div class="form-group col-4 hide margin-top">
                <label>Can Delete</label>
                <toggle-button
                  :value="form.DeletePermissions"
                  color="lightseagreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  class="toggleStyle"
                  v-model.trim="form.DeletePermissions"
                />
              </div>

              <button
                type="submit"
                class="btn btn-primary"
                :disabled="$v.form.$invalid"
              >{{form.submitBtn}}</button>
              <b-button type="button" @click.prevent="cancel">Cancel</b-button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
import { required, sameAs, minLength, between } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      form: {
        ID: "",
        phone: "",
        first_name: "",
        last_name: "",
        password: "",
        submitBtn: "Submit",
        repeatPassword: "",
        ReadPermissions: "",
        WritePermissions: "",
        DeletePermissions: ""
      }
    };
  },
  validations: {
    form: {
      first_name: {
        required,
        minLength: minLength(3)
      },
      last_name: {
        required,
        minLength: minLength(3)
      },
      password: {
        required,
        minLength: minLength(6)
      },
      repeatPassword: {
        required,
        minLength: minLength(6),
        sameAsPassword: sameAs("password")
      },
      phone: {
        required,
        minLength: minLength(11),
        async isUnique(value) {
          if (value === "") return true;
          let response = await window.axios.post(
            "/api/phone-existId/${userId}"
          );
          return response.data;
        }
      }
    }
  },
  mounted() {
    this.getEmployee();
  },
  methods: {
    async submit() {
      this.$v.form.$touch();
      if (this.$v.form.$error) return;
      try {
        let response = await window.axios.post(
          "/api/admin/employees/EmployeeUpdate",
          { data: this.form }
        );
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        this.$router.push("/employees");
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    async cancel() {
      this.$router.push("/employees");
    },
    async getEmployee() {
      try {
        let userId = this.$route.params.employeesId;
        const response = await axios.get(`/api/admin/employees/edit/${userId}`);
        this.form.first_name = response.data.user.first_name;
        this.form.last_name = response.data.user.last_name;
        this.form.ID = response.data.user.id;
        this.form.phone = response.data.user.phone;
        this.form.ReadPermissions = response.data.permission.Read;
        this.form.WritePermissions = response.data.permission.Write;
        this.form.DeletePermissions = response.data.permission.Delete;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    changeValue(index) {
      this.form.permissions[index].enable = true;
    }
  }
};
</script>
