<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Hive</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Hive Listing</li>
      </ol>
      <!-- <div class="page-actions">
        <router-link to="/Employees/add" v-if="Write == 1">
        <a href="/Employees/add" class="btn btn-primary">
          <i class="icon-fa icon-fa-plus"/> New Employee
        </a>
        </router-link>
      </div>-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body" v-if="Read == 1">
            <table-component
              :data="getAllHives"
              sort-by="created_at"
              sort-order="desc"
              table-class="table"
              ref="allHives"
            >

              <table-column :sortable="false" :filterable="false" label="Owner">
                <template slot-scope="row">
                  <router-link
                    :to="{ name: 'viewprofile', params: { userId: row.hive_owner.id }}"
                    class="user-color"
                    v-b-popover.hover="'View Profile'"
                  >{{row.hive_owner.first_name.concat(' ').concat(row.hive_owner.last_name)}}</router-link>
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Total Hive Members">
                <template slot-scope="row">
                  <span class="badge badge-pill badge-warning">{{row.hive_members.length}}</span>
                </template>
              </table-column>

              <table-column
                :sortable="false" 
                show="created_at"
                label="Created On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
              <table-column :sortable="false" :filterable="false" label="Actions">
                <template slot-scope="row">
                  <div class="table__actions">
                    <a
                      v-b-popover.hover="'User Hive List'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_hive.open(),hiveModel(row.hive_owner.id)"
                    >
                      <i class="icon-fa icon-fa-users" />
                    </a>

                    <a
                      v-b-popover.hover="'Add Members to Hive'"
                      class="btn btn-default btn-sm"
                      @click="$refs.add_to_hive.open(),addMembersToHive(row.id,row.hive_owner.id)"
                    >
                      <i class="icon-fa icon-fa-user-plus" />
                    </a>

                  </div>
                </template>
              </table-column>
            </table-component>
            <sweet-modal ref="user_hive" modal-theme="dark" overlay-theme="dark" width="100%">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Hive List</h6>
              </div>

              <div class="card-body">
                <table-component 
                :data="getUserHive" 
                ref="getHive" 
                sort-by="id"
                sort-order="asc"
                table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >
                          <img
                            @error="onImageLoadFailure($event)"
                            @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                            v-b-popover.hover="'View Profile Picture'"
                            height="27"
                            width="27"
                            :src="imagelink + row.hive_member.profile_picture"
                          />
                        </router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <a v-if="row.favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star" style="color: #ffd700"/>
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star-o" style="color: #ffd700"/>
                      </a>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.hive_member.first_name.concat(' ').concat(row.hive_member.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="phone"
                    label="Phone"
                  >
                    <template slot-scope="row">{{row.hive_member.phone}}</template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="city"
                    label="City"
                  >
                    <template slot-scope="row">
                      <div v-if="row.hive_member.city">{{row.hive_member.city}}</div>
                      <div v-else>{{NotAvailabe}}</div>
                    </template>
                  </table-column>

                  <!-- <table-column :sortable="true"
                   show="favorites"
                   sort-by="hive_id"
                   sort-order="desc"
                   :filterable="false" label="Favourite">
                    <template slot-scope="row">
                      <a v-if="row.favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart" />
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart-o" />
                      </a>
                    </template>
                  </table-column> -->
                  <!-- <table-column :sortable="false" :filterable="false" label="Biography">
                    <template slot-scope="row">
                      <div v-if="row.hive_member.biography">{{row.hive_member.biography}}</div>
                      <div v-else>{{NotAvailabe}}</div>
                    </template>
                  </table-column> -->
                  <table-column
                    show="created_at"
                    label="Added On"
                    data-type="date:YYYY-MM-DD"
                    :formatter="formatter"
                  />

                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'Remove From Hive'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="removeHiveMember(row.hive_member.id)"
                        >
                          <i class="icon-fa icon-fa-trash" />
                        </a>
                        <!-- <a v-if="row.favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart" />
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart-o" />
                      </a> -->
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>

            <sweet-modal ref="add_to_hive" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Add Members to Hive</h6>
              </div>

              <div class="card-body">
                <table-component :data="getUsers" ref="add_users_to_hive" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <!-- <router-link :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                        v-b-popover.hover="'View Profile'">-->

                        <img
                          @error="onImageLoadFailure($event)"
                          @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                          v-b-popover.hover="'View Profile Picture'"
                          height="27"
                          width="27"
                          :src="imagelink + row.profile_picture"
                        />
                        <!-- </router-link> -->
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column show="phone" :sortable="true" sort-by="Phone" label="Phone" />
                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'Add To Hive'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="addUser(row.id)"
                        >
                          <i class="icon-fa icon-fa-plus" />
                        </a>
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>
          </div>
          <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script type="text/babel">
import Ls from "../../../services/ls";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

export default {
  components: {
    TableComponent,
    TableColumn,
    SweetModal
    // SweetModalTab,
  },
  data() {
    return {
      users: [],
      imagelink: imageLink,
      Read: "",
      Write: "",
      Delete: "",
      OwnerID: "",
      NotAvailabe: "N/A",
      UserID: "",
    };
  },
  mounted() {
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.admin_id = Ls.get("auth.admin_id");
  },

  methods: {
    formatter(value, rowProperties) {
      return moment(value).format("Do MMM YYYY");
    },
    async getAllHives({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/hive/getAllHive?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
        );
        // console.log(response.data.ResponseBody.Data)
        return {
          data: response.data.ResponseBody.Data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    hiveModel(id) {
      this.OwnerID = id;
      this.$refs.getHive.refresh();
    },
    async getUserHive({ page, filter, sort }) {
      try {
        if (this.OwnerID) {
          const response = await axios.get(
            `/api/admin/users/userHive?page=${page}&user_id=${this.OwnerID}&is_admin=${1}&page=${-1}&limit=${-1}`
          );
          // console.log(response.data.ResponseBody.Data[0].hiveMembers)
          return {
            data: response.data.ResponseBody.Data[0].hive_members,
            pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    removeHiveMember(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.removeHiveMemberData(id);
        }
      });
    },
    async removeHiveMemberData(id) {
      try {
        let response = await window.axios.post(
          `/api/admin/users/remove_from_hive?user_id=${id}&owner_id=${this.OwnerID}`
        );
        this.$refs.getHive.refresh();
        this.$refs.allHives.refresh();
        window.toastr["success"]("User Removed from Hive", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    },

    // Remove Swarm
    
    addMembersToHive(ID, oid) {
      this.hiveID = ID;
      this.oID = oid;
      this.$refs.add_users_to_hive.refresh();
    },
    async getUsers({ page, filter, sort }) {
      try {
        if (this.hiveID) {
          const response = await axios.get(
            `/api/admin/hive/getUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}&hive_id=${this.hiveID}`
          );
          return {
            data: response.data.ResponseBody.Data,
            pagination: {
              totalPages: response.data.last_page,
              currentPage: page,
              count: response.data.count
            }
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async addUser(id) {
      try {
        this.UserID = id;
        let response = await window.axios.post(
          `/api/admin/hive/add_to_hive?hive_id=${this.hiveID}&user_id=${this.UserID}`
        );
        window.toastr["success"]("User Added", "Success");
        this.$refs.add_users_to_hive.refresh();
        this.$refs.allHives.refresh();
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
  }
};
</script>
