<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Create New Event</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item">
          <router-link to="/events/bizeeEvents">
            <a>Events</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">New</li>
      </ol>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form v-on:submit.prevent="submit">
        
                <div class="form-group">
                  <label for="inputTitle">Event Title</label>
                  <input
                    id="inputTitle"
                    type="text"
                    class="form-control"
                    placeholder="Event Title"
                    v-model.trim="form.Title"
                  />
                </div>
            
                <div class="form-group">
                  <label for="inputLocation">Location</label>
                  <input
                    id="inputLocation"
                    type="text"
                    class="form-control"
                    placeholder="Location"
                    v-model.trim="form.Location"
                  />
                </div>

                <div class="form-group">
                     <label style="width:100%">Date</label>
                <date-picker style="width:100%"
                    v-model.trim="form.Date" 
                    lang="en" 
                    format="YYYY-MM-DD"
                >
                <div v-if="$v.form.Date.$error">
                    <span v-if="!$v.form.Date.required" class="help-block help-block-error">
                      Field is required
                    </span>
                </div>
                </date-picker> 
             
                    </div>

               <div class="form-row">
                     <div class="form-group col-md-6">
                     <label style="width:100%">Event Time (From)</label>
                <date-picker  style="width:100%"
                    v-model.trim="form.fromTime" 
                    lang="en" type="time" format="HH:mm:ss" placeholder="Select Time"
                >
                <div v-if="$v.form.fromTime.$error">
                    <span v-if="!$v.form.fromTime.required" class="help-block help-block-error">
                      Field is required
                    </span>
                </div>
                </date-picker>          
              </div>
              <div class="form-group col-md-6">
                     <label style="width:100%">Event Time (Till)</label>
                <date-picker  style="width:100%"
                    v-model.trim="form.toTime" 
                   lang="en" type="time" format="HH:mm:ss" placeholder="Select Time"
                >
                <div v-if="$v.form.toTime.$error">
                    <span v-if="!$v.form.toTime.required" class="help-block help-block-error">
                      Field is required
                    </span>
                </div>
                </date-picker>          
              </div>
             
                    </div>

              <div class="form-group">
                <label for="inputHostNotes">Host Notes</label>
                <b-form-textarea
                  id="inputHostNotes"
                  type="text"
                  class="form-control"
                  rows="3"
                  max-rows="6"
                  placeholder="HostNotes"
                  v-model.trim="form.HostNotes"
                ></b-form-textarea>
              </div>

              <div class="form-group">
                  <label for="addGuests">Add Guests</label>
                  <a id="addGuests"
                      v-b-popover.hover="'Add Guests to this Event'"
                      class="btn btn-default btn-sm"
                      @click="$refs.add_to_event.open(),addGuestsToEvent()"
                    >
                      <i class="icon-fa icon-fa-user-plus" />
                    </a>
                </div>
                

              <button
                type="submit"
                class="btn btn-primary"
                :disabled="$v.form.$invalid"
              >{{form.submitBtn}}</button>
              <b-button type="button" @click.prevent="cancel">Cancel</b-button>
            </form>
            <sweet-modal ref="add_to_event" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Add Guests to Events</h6>
              </div>

              <div class="card-body">
                <table-component :data="getUsers" ref="add_guests_to_event" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <!-- <router-link :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                        v-b-popover.hover="'View Profile'">-->

                        <img
                          @error="onImageLoadFailure($event)"
                          @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                          v-b-popover.hover="'View Profile Picture'"
                          height="27"
                          width="27"
                          :src="imagelink + row.profile_picture"
                        />
                        <!-- </router-link> -->
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column show="phone" :sortable="true" sort-by="Phone" label="Phone" />
                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-b-popover.hover="'ADD'"
                          class="btn btn-default btn-sm"
                          data-ADD
                          data-confirmation="notie"
                          @click="addUser(row.id) "
                        >
                          <i 
                          v-bind:id="row.id"
                          class="icon-fa icon-fa-plus" />
                        </a>
                        <!-- <i v-else class="icon-fa icon-fa-check" style="color:green"/> -->
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
import { required, sameAs, minLength, between } from "vuelidate/lib/validators";
import Ls from "../../../services/ls";
import DatePicker from 'vue2-datepicker';
import moment from "moment";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";


export default {
  components: {
    DatePicker,
    TableComponent,
    TableColumn,
    SweetModal
  },
  data() {
    return {
      isShowGuest: true,
      isShowUsers: false,
      imagelink: imageLink,
      Read: "",
      Write: "",
      Delete: "",
      myResult: "",
      form: {
        Date: "",
        toTime:"",
        fromTime:"",
        Title: "",
        Bizee: "is_bizee",
        Location: "",
        HostNotes: "",
        submitBtn: "Submit",
        Members: []
      }
    };
  },
  mounted() {
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.admin_id = Ls.get("auth.admin_id");
  },
  validations: {
    form: {
      Date: {
        required,
      },
      fromTime: {
        required,
      },
       toTime: {
        required,
      },
      Title: {
        required,
        minLength: minLength(4)
      },
      Location: {
        required,
      },
      HostNotes: {
        required,
        minLength: minLength(6)
      },
      Members: {
        required,
      }
    }
  },
  methods: {
    formatDate (date) {
  return moment(date).format('DD-MM-YYYY')
},
    async submit() {
      this.$v.form.$touch();
      if (this.$v.form.$error) return;
      try {
        const formattedDate = moment(this.form.Date).format('YYYY-MM-DD')
        const formattedfromTime = moment(this.form.fromTime).format('HH:mm:ss')
        const formattedtoTime = moment(this.form.toTime).format('HH:mm:ss')
        const durationfromTime = moment(this.form.fromTime).format('HH:mm A')
        const durationtoTime = moment(this.form.toTime).format('HH:mm A')
        const duration = durationfromTime.concat('-').concat(durationtoTime);
        let response = await window.axios.post(
          `/api/admin/events/create_event?date=${formattedDate}&from_time=${formattedfromTime}&to_time=${formattedtoTime}
          &title=${this.form.Title}&location=${this.form.Location}&host_notes=${this.form.HostNotes}&is_bizee=${this.form.Bizee}
          &members=${this.form.Members}&duration=${duration}`
        );
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        //this.$router.push('/employees')
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    async cancel() {
      this.$router.push("/Events");
    },
    addGuestsToEvent() {
      this.$refs.add_guests_to_event.refresh();
    },
    async getUsers({ page, filter, sort }) {
      try {
          const response = await axios.get(
            `/api/admin/users/getUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
          );
          return {
            data: response.data.data,
            pagination: {
              totalPages: response.data.last_page,
              currentPage: page,
              count: response.data.count
            }
          };
       
      } catch (error) {
        return {
          data: []
        };
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    },
    
    async addUser(id) {
      try {
        const isExisted= await this.findMember(id)
        if(!isExisted){
         document.getElementById(id).className="icon-fa icon-fa-check"
         document.getElementById(id).style="color:green"
          this.form.Members.push( id );
        window.toastr["success"]("User Added", "Success");
        this.$refs.add_guests_to_event.refresh();
        }
      } catch (error) {
        if (error) {
         this.$refs.add_guests_to_event.refresh();
        }
      }
    },
    async findMember(ids){
const isExisted = await this.form.Members.includes(ids);
return isExisted
    }
  }
};
</script>
