<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Events</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Phone Events</li>
      </ol>
      <!-- <div class="page-actions">
        <router-link to="/Employees/add" v-if="Write == 1">
        <a href="/Employees/add" class="btn btn-primary">
          <i class="icon-fa icon-fa-plus"/> New Employee
        </a>
        </router-link>
      </div>-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body" v-if="Read == 1">
            <table-component
              :data="getPhoneEvents"
              sort-by="id"
              sort-order="desc"
              table-class="table"
              ref="allBizeeEvents"
            >
              <!-- <table-column
                :sortable="false"
                :filterable="false"
                label="Picture"
              >
                <template slot-scope="row">
                  <div>                   
                    <img  @error="onImageLoadFailure($event)"  height="27" :src="imagelink + row.avatar" />
                  </div>
                </template>
              </table-column>-->

              <table-column :sortable="false" :filterable="false" label="Title">
                <template slot-scope="row">
                  {{row.eventphone[0].title}}
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Event Creator">
                <template slot-scope="row">
                  <router-link
                    :to="{ name: 'viewprofile', params: { userId: row.event_owner[0].id }}"
                    class="user-color"
                    v-b-popover.hover="'View Profile'"
                  >{{row.event_owner[0].first_name.concat(' ').concat(row.event_owner[0].last_name)}}</router-link>
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Date">
                <template slot-scope="row" data-type="date:YYYY-MM-DD"
                :formatter="formatter">{{row.eventphone[0].date}}</template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Time">
                <template slot-scope="row">
                  {{row.eventphone[0].from_time.concat(' to ').concat(row.eventphone[0].to_time)}}
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Location">
                <template slot-scope="row">
                  {{row.eventphone[0].location}}
                </template>
              </table-column>

              <table-column :sortable="false" :filterable="false" label="Host Notes">
                <template slot-scope="row">
                  {{row.eventphone[0].host_notes}}
                </template>
              </table-column>

              <table-column
                show="created_at"
                label="Created On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
              <table-column :sortable="false" :filterable="false" label="Actions">
                <template slot-scope="row">
                  <div class="table__actions">

                    <a
                      v-b-popover.hover="'Event Guests List'"
                      class="btn btn-default btn-sm"
                      @click="$refs.event_guests.open(),guestsModel(row.event_id)"
                    >
                      <i class="icon-fa icon-fa-users" />
                    </a>

                  </div>
                </template>
              </table-column>
            </table-component>

            <sweet-modal ref="event_guests" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Event's Guests List</h6>
              </div>

              <div class="card-body">
                <table-component :data="getEventGuests" ref="eventGuests" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >
                          <img
                            @error="onImageLoadFailure($event)"
                            @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                            v-b-popover.hover="'View Profile Picture'"
                            height="27"
                            width="27"
                            :src="imageLink_user + row.guest[0].profile_picture"
                          />
                        </router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="Guest Name"
                    label="Guest Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.guest_id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.guest[0].first_name.concat(' ').concat(row.guest[0].last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    show="created_at"
                    label="Added On"
                    data-type="date:YYYY-MM-DD"
                    :formatter="formatter"
                  />

                </table-component>
              </div>
            </sweet-modal>
            
          </div>
          <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
    </div>
  </div>
</template>



<script type="text/babel">
import Ls from "../../../services/ls";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";

export default {
  components: {
    TableComponent,
    TableColumn,
    SweetModal
    // SweetModalTab,
  },
  data() {
    return {
      users: [],
      UserID: "",
      imagelink: imageLink,
      Read: "",
      Write: "",
      Delete: "",
      admin_id: "",
      swarmID: "",
      SwarmId: "",
      RoleId: "",
      EventID: "",
      form: {
        UID: "",
        selectedstatus: "",
        packages: [],
        submitBtn: "Update"
      }
    };
  },
  mounted() {
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.admin_id = Ls.get("auth.admin_id");
    this.getadmin();
  },

  methods: {
    formatter(value, rowProperties) {
      return moment(value).format("Do MMM YYYY");
    },
    async getPhoneEvents({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/events/get_phone_events?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
        );
        // console.log(response.data.ResponseBody.Data)
        return {
          data: response.data.ResponseBody.Data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    },

    async getadmin() {
      try {
        const response = await axios.get(
          `/api/admin/users/edit/${this.admin_id}`
        );
        this.RoleId = response.data.role_id;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    guestsModel(id) {
      this.EventID = id;
      this.$refs.eventGuests.refresh();
    },
    async getEventGuests() {
      try {
        if (this.EventID) {
          const response = await axios.get(
            `/api/admin/events/get_event?event_id=${this.EventID}&events_type=Phone`
          );
          // console.log(response.data.ResponseBody.Data.eventDetails[0].events)
          return {
            data: response.data.ResponseBody.Data.eventDetails[0].events
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },

  }
};
</script>
