// Add Your Frontend site styles here
.multiselect__tags {
    padding: 0px !important;
    width: 100%;
    border-radius: 4px !important;
    border: 1px solid #ced4da !important;
 }
 label.custom-file-label
 {
    margin-top: 32px;
 }
 i.fa.fa-eye.custom-eye-icon {
    position: relative;
    right: -93%;
    bottom: 30px;
 }
.custom
{
    position: relative;
    right: -93%;
    bottom: 30px;
}
select.custom-style-select {
    width: 100% !important;
    padding: 7px !important;
    border-radius: 5px!important;
}
.multiselect__single {
    padding-left: 10px !important;
    padding-top: 8px !important;
}
.multiselect__placeholder {
    margin-bottom: 10px !important;
    padding: 7px 0 0 15px !important;
}
// bidding listing modal background color change css because it was only available in dark
.sweet-modal.theme-dark {
    background: white !important;
    color: black !important;
}
.sweet-modal .sweet-box-actions .sweet-action-close {
    color: #222C38 !important;
}
.dropdown-group.has-child {
    border: 2px solid;
}
// Custom CSS
.tab-set-btn{
    .btn-right {
        position: absolute;
        right: 0;
    }
    .table-component__filter {
        margin-right: 105px;
        .table-component__filter__field {
            padding: 0.25em 1.25em 0.25em 0.75em;
        }
    }
}
.basicPkg
{
    color: black;
    font-weight: bold;
    border: 0.5px solid;
    padding: 5px 8px;
    border-radius: 15%;
    text-align: center;
}
.currentPkg
{
    color: black;
    font-weight: bold;
    border: 0.5px solid;
    width: 40%;
    border-radius: 15%;
    text-align: center;
}
.tags-frontend {
    margin: 0 2px;
    background-color: #ffc20b !important;
    border-radius: 4px !important;
    color: black !important;
    text-align: center;
    padding: 0px 5px !important;
}
.cms-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 p.text-center.float-right.pading-left {
    margin-left: 65px !important;
}
 .tabs-component-panels {
    width: 100% !important;
}
img.image-admin {
    height: auto !important;
    margin-left: 30% !important;
    width: 30% !important;
    margin-top: 45px !important;
}
.text-center-custom
{
    text-align: center !important;
    margin: 10px 0 10px 0 !important;

}
.action-list .avatar img {
    width: 36px;
}

.form-group.custom-login {
    margin-bottom: -30px !important;
 }
 .main-content.my-content {
    padding: 90px 20px 10px 20px !important;
}
.table .table__actions {
    opacity: 1 !important;
}
h5.myclass
{
    margin-top: 27px !important
}
i.icon-fa.icon-fa-pencil {
    color: black !important;
}
i.icon-fa.icon-fa-eye {
    color: black !important;
}
a.table-component__filter__clear {
    background-color: #ffc20b !important;
    position: absolute !important;
    right: 0% !important;
    width: 10% !important;
}
.hide select.table-component__filter__field {
    display: none;
}
img.img-size {
    width:36px !important;
    height: 36px !important;
}
img.profilepage-img {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
}

a.property-color {
    font-weight: 600 !important;
    color: black !important;
}
a.user-color {
    font-weight: 600 !important;
    color: black !important;
}
a.file-color {
    font-weight: 600 !important;
    color: black !important;
}
a:hover {
    color: #ffc20b !important;
    text-decoration: none !important;
}

/******************************** Bizee *******************************************/
.btn-signin {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #032d41;
    border-color: #032d41;
    width: 71px;
    padding: 2px 1px 5px 13px;
    border: 2px;
    border-radius: 10px;
}
a.btn-signin:hover {
    color: white !important;
    background-color:#3dade2;
    cursor: pointer;
}
.sidebar-left {
    box-shadow: #ffc20b 2px 2px 5px;
    background: white;
}
.col-md-4.social-hourss {
    text-align: right;
}
.site-header
{
    background-color: #f5f5f5;
    box-shadow: #ffc20b  2px 2px;
    border: 2px #ffc20b ;
}
.side-nav .collapse-group .collapse-group-item a {
    color: #4f8098;
    display: block;
    font-size: 16px;
    padding: 12px 12px 12px 30px;
    position: relative;
    text-decoration: none;
}
.sidebar-left a:hover {
    background: #ffc20b !important;
    color: white !important;
}
.table .table__actions a:not(:last-child) {
    margin-right: 0px !important;
}
.card-body a:hover {
    color: #4f8098 !important;
}
ol.breadcrumb a:hover {
    color: #42606e !important;
}
ol.breadcrumb a {
    color: #4f8098 !important;
}

.side-nav .collapse-group .collapse-group-item.active > .collapse-item-title > a {
    background: #ffc20b !important;
    color: white !important;
    font-weight: bold;
}
.row.invitationpage {
    margin: 16px;
}
.side-nav .collapse-group .collapse-group-item .collapse-group-items {
    background-color: #f5f5f5 !important;
    padding: 0;
}
.hostprofilepic {
    width: 33.33%;
}
.buttonoptions {
    margin-top: 13px;
    width: 66.66%;
    display: inline-block;
    text-align: right;
}
button.btn.btn-reject {
    width: 70px;
    height: 30px;
    padding: 1px;
    color: white;
    background: #142e4d;
    border: 2px #151545;
    border-radius: 10px;
    margin-right: 7px;
}
button.btn.btn-accept {
    width: 70px;
    height: 30px;
    padding: 1px;
    color: white;
    background: #FFC107;
    border: 2px #625811;
    border-radius: 10px;
    /* margin-right: 7px; */
}
.buttonoptions h5 {
    margin-top: 5px;
    font-size: 16px;
    padding-right: 11px;
}
h6.host {
    color: #88afd1;
    margin-bottom: 15px;
}
p.host {
    margin-bottom: 0px;
}
.host-details {
    color: gray;
}
div.host-details {
    width: 50%;
    padding-bottom: 10px;
}
.calender-details {
    width: 50%;
    text-align: center;
    padding-top: 20px;
}
p.host-loc {
    margin-bottom: 0px;
    font-size: 12px;
    padding-left: 41px;
    margin-top: -35px;
}
.bizee-description {
    margin: 10px -16px 0px -16px;
    background: whitesmoke;
    padding: 15px;
    padding: 3px -10px 3px -10px;
}
p.host-details {
    font-size: 15px;
    margin-bottom: 0px;
}
.row.connectUs {
    background: whitesmoke;
    color: #88AFD1;
    text-align: center;
    margin-bottom: 40px;
}
h6.connectUs {
    color: #88AFD1;
}
.connectUs {
    margin-top: 10px;
}
.social-icons {
    margin-top: 20px;
    margin-bottom: 30px;
}
.bizee-pages {
    width: 50%;
    display: inline;
    margin-right: 12px;
    margin-left: 12px;
    text-align: center !important;
}
.site-footer a {
    color: #88AFD1 !important;
}
.row.invitationpage a {
    color: #4176a5 !important;
    font-weight: 600;
}
.connectUs.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    margin-bottom: 30px;
}
h5.host-details.notes {
    margin-right: 65%;
}
.host-details.host-guests {
    margin-bottom: 19px;
}
h5.host-details.guest {
    margin-right: 68%;
}
/*
*slider
*/
.hooper {
    height: 100% !important;
    margin-bottom: 13px;
}

li.hooper-slide {
    text-align: center;
    font-size: 12px;
    color: #808080;
    margin-right: 9px;
    margin-left: 5px;
    margin-top: 6px;
    margin-bottom: 15px;
    padding: 6px 10px;
    /* border: 1px solid #00000059; */
    border-radius: 9px;
    box-sizing: border-box;
    height: 70%;
    // width: 59px !important;
    box-shadow: 0px 3px 3px 3px #80808042;
}

p.host-details.guests {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}
.admin-pic {
    text-align: center;
    padding: 7%;
}
/*
*new
*/
.host-details.guest {
    width: 82%;
}
.host-details.guest h5 {
    color: #808080;
}
.host-details.icons {
    width: 18%;
    text-align: right;
}
.card-header-1 {
    background: #4f8098;
    padding: 6px;
}
h6.card-head-1 {
    color: white;
    // font-family: cursive;
    font-weight: 500;
}
span.title {
    font-size: 30px !important;
    color: #4f8098  !important;
}
i.icon-fa.icon-fa.text-primary {
    color: #ffc107  !important;
}
.card .card-header {
    position: relative;
    background: #8aa7b6;
}
.icon-fa.text-warning {
    color: white !important;
}
.icon-fa.text-warning-2 {
    color: #ffc20b !important;
}
.badge-warning {
    color: white !important;
    background-color: #ffc107;
    font-size: 17px !important;
    padding: 5px 8px !important;
    width: 50px;
}
.tabs-component.tabs-default .tabs-component-tab.is-active a {
    /* color: #ffde00; */
    color: white;
    background: #4f8098;
}
.tabs-component.tabs-default .tabs-component-tab.is-active {
    border: 1px solid #4f8098;
    background: #4f8098;
    color: #ffde00;
}
.tabs-component.tabs-default .tabs-component-tab a:hover {
    /* color: #ffde00; */
    color: white !important;
    background: #4f8098;
    border: 1px solid #4f8098;
}
.tabs-component.tabs-default .tabs-component-tab:hover {
    border: 1px solid #4f8098;
}
.swarm-member {
    width: 100%;
    background: #0bb3ab8f;
    padding: 3px;
    text-align: center;
    border-radius: 16px;
}
.swarm-admin {
    width: 100%;
    background: #bde02e;
    padding: 3px;
    text-align: center;
    border-radius: 16px;
}
.card .card-header h6 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin: 0;
}
.row.settings {
    padding: 10px 0px;
}
.vc-chrome {
    width: 80% !important;
    margin: 11% !important;
}
.bg-color.col-md-3 {
    height: 80px;
    padding: 25px 15px;
    margin: 15px;
    text-align: center;
    border: 2px white;
    border-radius: 30px;
}
.bg-color-code {
    background: white;
    padding: 2px;
    width: 50%;
    position: relative;
    border-radius: 15px;
    font-weight: bold;
    left: 26%;
}
a.btn.btn-default.btn-sm.delete-color {
    position: relative;
    right: -86px;
    bottom: 7px;
    border-radius: 9px;
    padding: 0px 3px;
}
.btn-primary {
    color: #fff !important;
    background-color: #4f8098 !important;
    border-color: #4f8098 !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #3a6980  !important;
    border-color: #3a6980  !important;
}
.action-list .dropdown-group {
    background-color: transparent;
}
td ol {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: -24px;
}
.card-body a:hover {
    color: white!important;
    background: #FFC20B !important;
}
.card-body i:hover {
    color: white!important;
}

///////////////////////////////////////////////////////////////////////////////////////
button.btn.btn-theme.btn-full.customClr_login {
    background-color: #ffc20b;
    color: #17052e;
}


.login-page .login-box a {
    color: white;
}

li.background_color {
    background-color: #ffc20b;
}
.table-component.max-hight {
    height: 200px;
}
// .login-page.login-1 {
//     background-color: antiquewhite;
// }
button.btn.btn-theme.btn-full {
    background-color: #ffc20b;
}

i.icon-fa.text-info {
    color: #ffc20b !important;
}
.action-list .notification-dropdown .dropdown-header 
{
    color: #ffc20b;
}

label.custom-icon-label
 {
    margin-top: 0px;
 }
 .form-row.gap {
    margin: 15px 0px;
}
.pkgTags {
    float: left;
    margin: 0px 10px;
    background-color: #300e5c !important;
    border-radius: 4px !important;
    color:white !important;
    text-align: center;
    padding: 0px 5px !important;
}

.icon-fa-navicon:before, .icon-fa-reorder:before, .icon-fa-bars:before {
    color: black !important;
}
.page-actions a {
    background-color: #ffc20b !important;
    color: black !important;
    border: none !important;
}
a.btn.btn-primary {
    padding: 5px 40px !important;
}
.side-nav .collapse-group .collapse-group-item .collapse-group-items a.active{
    background: #ffcb30 !important;
    color: white;
}
.side-nav .collapse-group .collapse-group-item .collapse-group-items {
    background-color: #c89c17;
    padding: 0;
}
table.table.table-striped.table-bordered {
    border-bottom: 2px solid #ffc20b;
    border-top: 2px solid #ffc20b;
}
.card.col-sm-6.formDesign {
    border-right: 2px solid #ffc20b;
    border-left: 2px solid #ffc20b;
}
.full-width
{
    width: 30% !important;
}
.margin-top{
    margin: 10px 0px;
}
.formDesign{
    border-right: 2px solid #ffc20b;
    border-left: 2px solid #ffc20b;
}
h6.mingleWith {
    padding: 3px 0px;
    background-color: #51c860 !important;
    border-radius: 5px !important;
    color: black !important;
    text-align: center;
    margin: 0;
}
.toast-success {
    background-color: #51a351 !important;
}
.toast-success {
    background-color: #51a351 !important;
}
.toast-error {
    background-color: #bd362f !important;
}
.col-sm-4.mediaShow {
    margin: 30px 0px;
}
.dropdown-group .dropdown-container .dropdown-group-item a.active {
    color: white;
}
.purple{
    color: #3f117c;
}
.yellow{
    color: #ffc20b
}
.circle {
    border-radius: 10%;
    background: burlywood;
    width: 5%;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}
.hide .table-component__filter {
    display: none;
}
.dateBox input[type="text"] {
    padding: 0.15em 1.25em 0.15em 0.75em;
    border: solid 1px #e0e0e0;
    font-size: 15px;
    border-radius: 3px;
}
.mx-shortcuts-wrapper {
    display: none;
}
.toast.toast-info {
    background-color: black;
}