<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Favourites</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">User Favourites</li>
      </ol>
      <!-- <div class="page-actions">
        <router-link to="#">
          <a href="#" class="btn btn-primary">
            <i class="icon-fa icon-fa-plus"/> All Bids
          </a>
        </router-link>
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-12 hide">
        <div class="card">
          <!-- <div class="card-header">
            <h6>All Bids on Properties</h6>
            <div class="card-actions"/>
          </div> -->
          <div class="card-body"  v-if="Read == 1">
            <tabs class="tabs-simple">
              <tab id="Favourite Users" name="Favourite Users">
                <table-component
                        :data="getFavouriteUsers"
                        sort-by="row.id"
                        sort-order="desc"
                        table-class="table"
                      >
                <table-column
                :sortable="true"
                :filterable="false"
                show="first_name"
                sort-by="User Name"
                label="User Name"
              >
                <template slot-scope="row">
                  <div>
                    <router-link
                      :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                      v-b-popover.hover="'View Profile'"
                    >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                  </div>
                </template>
              </table-column>

              <table-column
                show="created_at"
                label="Registered On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
                  <table-column :sortable="false" :filterable="false" label="Actions">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <!-- <a
                          v-b-popover.hover ="'DELETE'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="destroyBid(row.id)"
                        >
                          <i class="icon-fa icon-fa-trash"/>
                        </a> -->

                        <!-- Popup Modal bidding listing start  -->
                          <a
                            v-b-popover.hover ="'All Bids'"
                            class="btn btn-default btn-sm"
                            @click="$refs.tab1.open(),modelopencheck(row.id);"
                          >
                            <i class="icon-fa icon-fa-list"/>
                          </a>
                          
                   
                        <!-- Popup 1 Modal bidding listing end  -->
                   <!-- Popup 2 Modal bidding listing start  -->
                          <!-- <a
                            v-b-popover.hover ="'Change Status'"
                            class="btn btn-default btn-sm"
                            @click="openprmodelstatus(row.id,row.stname,row.color,row.fileprice)"
                          >
                            <i class="icon-fa icon-fa-cog"/>
                          </a> -->
                          <sweet-modal
                            ref="dark_html_modal_status"
                            modal-theme="dark"
                            overlay-theme="dark"
                          >
                          
                              <div class="card-body">
                                <form v-on:submit.prevent="submit">
                                   <div class="row col-lg-12 text-left"><h5 class="status-class">Current Status:<p class="text-center float-right pading-left"
                                   
                                   >"{{STname}}"</p></h5></div>
                                  <div class="form-row">
                                    <div class="col-lg-4 text-left myclass"><h5 class="myclass">Update Status</h5></div>
                                    <div class="form-group col-md-8 text-right">
                                      <div class="form-group col">
                                        <div>
                                          <label for="inputStatus"></label>
                                          <select
                                            class="form-control"
                                            name="status"
                                            v-model.trim="form.selectedstatus"
                                          >
                                            <option disabled selected value>Update Status</option>
                                            <option
                                              v-for="item in form.status"
                                              :key="item.id"
                                              :value="item.id"
                                              :selected="(form.selectedstatus == item.name)"
                                            >{{item.name}}</option>
                                          </select>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-group col-md-12 text-right">
                                      <button
                                        type="submit"
                                        class="btn btn-primary"
                                        :disabled="$v.form.$invalid"
                                      >{{form.submitBtn}}</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            
                          </sweet-modal>
                        </div>
                        <!-- Popup 1 Modal bidding listing end  -->
                    </template>
                  </table-column>
                </table-component>
              </tab>
             
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink, imageLink_user } from "../../../helpers/constants";
import Vue from "vue";
import Ls from "../../../services/ls";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { Tabs, Tab } from "vue-tabs-component";

Vue.use(BootstrapVue);

export default {
  components: {
    TableComponent,
    TableColumn,
    tabs: Tabs,
    tab: Tab
  },
 
  data() {
    return {
      Read: "",
      Write: "",
      Delete: "",
      authID: "", 
    };
  },
  
  mounted: function() {
    this.authID = Ls.get("auth.roleID");
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.getFavouriteUsers();
    
  },
 
  methods: {
    
    async getFavouriteUsers({ page, filter, sort }) {
      try {
        let userId = this.$route.params.userId;
        alert(userId)
        const response = await axios.get(
          `/api/admin/users/user_favorites?user_id=${userId}`);

        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },    
  }
};
</script>
