<template>
  <div class="main-content page-profile">
    <div class="page-header">
      <h3 class="page-title">User Profile</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/dashboard">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/users">Users</a>
        </li>
        <li class="breadcrumb-item active">{{form.first_name.concat(' ').concat(form.last_name)}}</li>
      </ol>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <tabs class="tabs-default">
              <tab id="profile" name="Profile">
                <div class="row">
                  <div id="table" class="col-md-8" align="center">
                    <table class="table table-striped table-bordered">
                      <thead class="thead-dark">
                        <tr>
                          <th>Property</th>
                          <th scope="col">Details</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-address-book" />
                            <b>Name:</b>
                          </td>
                          <td>
                            <div>
                              {{form.first_name.concat(' ').concat(form.last_name)}}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-map-marker" />
                            <b>Address:</b>
                          </td>
                          <td>
                            <div v-if="form.address">{{form.address}}</div>
                            <div v-if="form.address===' ' || form.address===''">{{form.NotAvailabe}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-user" />
                            <b>User Since:</b>
                          </td>
                          <td>
                            <div v-if="form.created_at">{{form.created_at | formatter}}</div>
                            <div v-else>{{form.NotAvailabe}}</div>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>
                            <i class="icon-fa icon-fa-home" />
                            <b>City:</b>
                          </td>
                          <td>
                            <div v-if="form.city">{{form.city}}</div>
                            <div v-else>{{form.NotAvailabe}}</div>
                          </td>
                        </tr> -->
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-plus" />
                            <b>Biography:</b>
                          </td>
                          <td >
                            <div v-if="form.biography">{{form.biography}}</div>
                            <div v-if="form.biography===' ' || form.biography === ''">{{form.NotAvailabe}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-phone" />
                            <b>Phone:</b>
                          </td>
                          <td>
                            <div v-if="form.phone">{{form.phone}}</div>
                            <div v-else>{{form.NotAvailabe}}</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-briefcase" />
                            <b>Status:</b>
                          </td>
                          <td>
                            <div v-if="form.is_activate==1">Active</div>
                            <div v-else>Un-Active</div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <i class="icon-fa icon-fa-list" />
                            <b>Bucket List:</b>
                          </td>
                          <td v-if="bucket_list.length != 0">
                            <ol>
                              <li v-for="bucket in bucket_list" v-bind:key="bucket.id">
                                {{bucket.value}}
                              </li>
                            </ol>
                          </td>
                          <td v-else>
                            Doesn't have any Bucket list
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div id="profilepic" class="container-fluid col-md-4" align="center">
                    <img
                      @error="onImageLoadFailure($event)"
                      height="250"
                      width="250"
                      :src="imagelink + form.profile_picture"
                    />
                  </div>
                </div>
              </tab>
            </tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/babel">
import { Tabs, Tab } from "vue-tabs-component";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";

export default {
  components: {
    tabs: Tabs,
    tab: Tab
  },
  data() {
    return {
      imagelink: imageLink,
      form: {
        first_name: "",
        last_name: "",
        user_name: "",
        phone: "",
        profile_picture: "",
        password: "",
        address: "",
        biography: "",
        created_at: "",
        Active: "",
        NotActive: "",
        NotAvailabe: "N/A"
      },
      bucket_list: []
    };
  },
  mounted: function() {
    this.getUser();
  },
  filters: {
    formatter(value) {
      return moment(value).format("Do MMM YYYY");
    }
  },
  methods: {
    async getUser() {
      try {
        let userId = this.$route.params.userId;
        const response = await axios.get(`/api/admin/users/edit/${userId}`);
        this.form.first_name = response.data.first_name;
        this.form.last_name = response.data.last_name;
        this.form.user_name = response.data.user_name;
        this.form.phone = response.data.phone;
        this.form.address = response.data.address;
        this.form.biography = response.data.biography;
        this.form.created_at = response.data.created_at;
        this.form.is_activate = response.data.is_activate;
        this.form.profile_picture = response.data.profile_picture;
        this.bucket_list = response.data.bucket_items;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    }
  }
};
</script>
