<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Users</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Users</li>
      </ol>

      <!-- <template> -->
        <!-- <div v-if="authID == 1">
          <div class="page-actions">
            <router-link to="/users/add">
              <a href="/user/add" class="btn btn-primary">
                <i class="icon-fa icon-fa-plus"/> New User
              </a>
            </router-link>
          </div>
        </div>-->
      <!-- </template> -->
    <!-- </div> -->
    <tabs  :options="{ useUrlFragment: false }" class="tabs-default">
      <tab id="Bizee-users" name="Bizee Users">
        <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <!-- <div class="card-header">
            <h6>All Registered Users</h6>
            <div class="card-actions" />
          </div>-->
          <div class="card-body" v-if="Read == 1">
            <table-component
              :data="getUsers"
              ref="allUsers"
              sort-by="id"
              sort-order="asc"
              table-class="table"
            >
              <table-column :sortable="false" :filterable="false" label>
                <template slot-scope="row">
                  <div>
                    <!-- <router-link :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                    v-b-popover.hover="'View Profile'">-->

                    <img
                      @error="onImageLoadFailure($event)"
                      @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                      v-b-popover.hover="'View Profile Picture'"
                      height="27"
                      width="27"
                      :src="imageLink_user + row.profile_picture"
                    />
                    <!-- </router-link> -->
                  </div>
                </template>
              </table-column>

              <table-column
                :sortable="true"
                :filterable="false"
                show="first_name"
                sort-by="User Name"
                label="User Name"
              >
                <template slot-scope="row">
                  <div>
                    <router-link
                      :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                      v-b-popover.hover="'View Profile'"
                    >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                  </div>
                </template>
              </table-column>

              <table-column show="phone" :sortable="true" sort-by="Phone" label="Phone" />
              <!-- <table-column
                :sortable="true"
                show="city"
                sort-by="City"
                :filterable="false"
                label="City"
              >
                <template slot-scope="row">
                  <div v-if="row.city">{{row.city}}</div>
                  <div v-else>{{NotAvailabe}}</div>
                </template>
              </table-column> -->
              <!-- <table-column :sortable="false" :filterable="false" label="Biography">
                <template slot-scope="row">
                  <div v-if="row.biography">{{row.biography}}</div>
                  <div v-else>{{NotAvailabe}}</div>
                </template>
              </table-column> -->
              <table-column
                show="created_at"
                label="Registered On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
              <table-column label="Actions" :sortable="false" :filterable="false">
                <template slot-scope="row">
                  <div class="table__actions">
                    <router-link
                      v-if="Write == 1"
                      :to="{ name: 'edituser', params: { userId: row.id }}"
                    >
                      <a v-b-popover.hover="'Edit'" class="btn btn-default btn-sm">
                        <i class="icon-fa icon-fa-pencil" />
                      </a>
                    </router-link>
                    <a
                      v-if="Delete == 1"
                      v-b-popover.hover="'Delete'"
                      class="btn btn-default btn-sm"
                      data-delete
                      data-confirmation="notie"
                      @click="destroyUser(row.id)"
                    >
                      <i class="icon-fa icon-fa-trash" />
                    </a>
                    <!-- <router-link :to="{ name: 'viewUserFavourite', params: { userId: row.id }}">
                      <a v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm" style="color:black;">
                        <i class="icon-fa icon-fa-heart" />
                      </a>
                    </router-link> -->
                    <a
                      v-b-popover.hover="'User Contacts'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_contacts_model.open(),userContacts(row.id)"
                    >
                      <i class="icon-fa icon-fa-address-book"/>
                    </a>
                    <a
                      v-b-popover.hover="'User Social Availability'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_available_hour.open(),availableModel(row.id)"
                    >
                      <i class="icon-fa icon-fa-clock-o" style="font-size: 15px;font-weight: 600;"/>
                    </a>
                    <a
                      v-b-popover.hover="'User Hive List'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_hive.open(),hiveModel(row.id)"
                    >
                      <i class="icon-fa icon-fa-users" />
                    </a>
                    <a
                      v-b-popover.hover="'User Setting'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_settings.open(),settingModel(row.id)"
                    >
                      <i class="icon-fa icon-fa-gear" style="font-size: 15px;font-weight: 600;"/>
                    </a>
                    <a
                      v-b-popover.hover="'User Swarm List'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_swarm.open(),swarmModel(row.id)"
                    >
                      <i class="icon-fa icon-fa-archive" />
                    </a>
                    <a
                      v-b-popover.hover="'User Bucket List'"
                      class="btn btn-default btn-sm"
                      @click="$refs.user_bucket.open(),bucketModel(row.id)"
                    >
                      <i class="icon-fa icon-fa-list" />
                    </a>

                    <div v-if="Delete == 1">
                      <a
                        v-if="row.is_blocked==0"
                        v-b-popover.hover="'BLOCK'"
                        class="btn btn-default btn-sm"
                        data-delete
                        data-confirmation="notie"
                        @click="blockUser(row.id)"
                      >
                        <i class="icon-fa icon-fa-ban" />
                      </a>
                    </div>
                    <div v-if="Delete == 1">
                      <a
                        v-if="row.is_blocked==1"
                        v-b-popover.hover="'UN-BLOCK'"
                        class="btn btn-default btn-sm"
                        data-delete
                        data-confirmation="notie"
                        @click="unblockUser(row.id)"
                      >
                        <i class="icon-fa icon-fa-unlock" />
                      </a>
                    </div>
                  </div>
                </template>
              </table-column>
            </table-component>

            <sweet-modal ref="user_bucket" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Bucket List</h6>
              </div>
              <div style="padding:10px;"></div>
            <div v-if="lists.length != 0">
              <div
                class="row"
                v-for="(OneIndex, idX) in lists"
                :key="idX"
                v-bind:user_id="OneIndex.id"
              >
                <div class="form-group col-md-12">
                  <input
                    id="inputBucketList"
                    type="text"
                    class="form-control"
                    placeholder="Bucket List"
                    v-model.trim="OneIndex.value"
                  />
                </div>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                @click.prevent="submit"
              >{{form.submitBtn}}</button>
             </div>
             <div v-else>
                 This user Does't have any bucket list
             </div>
              
            </sweet-modal>

            <sweet-modal ref="user_available_hour" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Available Hours</h6>
              </div>
              <div style="padding:10px;"></div>
<div ref="social_refresh">
<div class="row" id='Title'><div class="col-md-3"></div>
  <div  class="col-md-3">Mon - Thur</div>
  <div   class="col-md-2">Fri</div>
  <div   class="col-md-2">Sat</div>
  <div   class="col-md-2">Sun</div>
</div><br/>
                <div class="row" id='Morning'><div class="col-md-4 social-hourss">Morning: </div>
  <input type="checkbox"  class="col-md-2" id="Morning-M-T"  @click="hourSlotmMT(slot='1',day='Monday-Thursday',morningMT)" :checked="morningMT" v-model="morningMT">
  <input type="checkbox"   class="col-md-2" id="Morning-F" @click="hourSlotmF(slot='1',day='Friday',morningF)" :checked="morningF" v-model="morningF">
  <input type="checkbox"   class="col-md-2" id="Morning-S" @click="hourSlotmS(slot='1',day='Saturday',morningS)" :checked="morningS" v-model="morningS">
  <input type="checkbox"   class="col-md-2" id="Morning-SU"  @click="hourSlotmSU(slot='1',day='Sunday',morningSU)" :checked="morningSU" v-model="morningSU">
</div>

<br/>
              
                <div class="row" id='After-noon'><div class="col-md-4 social-hourss">After noon: </div>
  <input type="checkbox"  class="col-md-2" id="After-noon-M-T" @click="hourSlotanMT(slot='2',day='Monday-Thursday',afternoonMT)" :checked="afternoonMT" v-model="afternoonMT">
  <input type="checkbox"   class="col-md-2" id="After-noon-F"  @click="hourSlotanF(slot='2',day='Friday',afternoonF)" :checked="afternoonF" v-model="afternoonF">
  <input type="checkbox"   class="col-md-2" id="After-noon-S" @click="hourSlotanS(slot='2',day='Saturday',afternoonS)" :checked="afternoonS" v-model="afternoonS">
  <input type="checkbox"   class="col-md-2" id="After-noon-SU" @click="hourSlotanSU(slot='2',day='Sunday',afternoonSU)" :checked="afternoonSU" v-model="afternoonSU">
</div><br/>
              
                <div class="row" id='Evening'><div class="col-md-4 social-hourss">Evening: </div>
  <input type="checkbox"  class="col-md-2" id="Evening-M-T" @click="hourSloteMT(slot='3',day='Monday-Thursday',eveningMT)"  :checked="eveningMT" v-model="eveningMT">
  <input type="checkbox"   class="col-md-2" id="Evening-F" @click="hourSloteF(slot='3',day='Friday',eveningF)" :checked="eveningF" v-model="eveningF">
  <input type="checkbox"   class="col-md-2" id="Evening-S" @click="hourSloteS(slot='3',day='Saturday',eveningS)" :checked="eveningS" v-model="eveningS">
  <input type="checkbox"   class="col-md-2" id="Evening-SU" @click="hourSloteSU(slot='3',day='Sunday',eveningSU)" :checked="eveningSU" v-model="eveningSU">
</div><br/>           
             
                <div class="row" id='Late-night'><div class="col-md-4 social-hourss">Late night: </div>
  <input type="checkbox"  class="col-md-2" id="Late-night-M-T" @click="hourSlotlnMT(slot='4',day='Monday-Thursday',latenightMT)" :checked="latenightMT" v-model="latenightMT">
  <input type="checkbox"   class="col-md-2" id="Late-night-F" @click="hourSlotlnF(slot='4',day='Friday',latenightF)" :checked="latenightF" v-model="latenightF">
  <input type="checkbox"   class="col-md-2" id="Late-night-S" @click="hourSlotlnS(slot='4',day='Saturday',latenightS)" :checked="latenightS" v-model="latenightS">
  <input type="checkbox"   class="col-md-2" id="Late-night-SU" @click="hourSlotlnSU(slot='4',day='Sunday',latenightSU)" :checked="latenightSU" v-model="latenightSU">
</div>

<br/>
<button
                type="socialHourSubmit"
                class="btn btn-primary"
                @click.prevent="socialHourSubmit"
              >Submit</button>
</div>
              
              
              
            </sweet-modal>

            <sweet-modal ref="user_hive" modal-theme="dark" overlay-theme="dark" width="100%">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Hive List</h6>
              </div>

              <div class="card-body">
                <a
                      v-b-popover.hover="'Add Members to Hive'"
                      class="btn btn-primary"
                      @click="$refs.add_to_hive.open(),addMembersToHive(UserID)"
                    >
                      <i class="icon-fa icon-fa-user-plus" /> Add Members
                    </a>
                <table-component :data="getUserHive" ref="getHive" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.hive_member.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >
                          <img
                            @error="onImageLoadFailure($event)"
                            v-b-popover.hover="'View Profile Picture'"
                            height="27"
                            width="27"
                            :src="imagelink + row.hive_member.profile_picture"
                          />
                        </router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                         <a v-if="row.favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star" style="color: #ffd700"/>
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star-o" style="color: #ffd700"/>
                      </a>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.hive_member.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.hive_member.first_name.concat(' ').concat(row.hive_member.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="phone"
                    sort-by="Phone"
                    label="Phone"
                  >
                    <template slot-scope="row">{{row.hive_member.phone}}</template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="city"
                    sort-by="City"
                    label="City"
                  >
                    <template slot-scope="row">
                      <div v-if="row.hive_member.city">{{row.hive_member.city}}</div>
                      <div v-else>{{NotAvailabe}}</div>
                    </template>
                  </table-column>

                  <!-- <table-column :sortable="false" :filterable="false" label="Biography">
                    <template slot-scope="row">
                      <div v-if="row.hive_member.biography">{{row.hive_member.biography}}</div>
                      <div v-else>{{NotAvailabe}}</div>
                    </template>
                  </table-column> -->
                  <table-column
                    show="hive_member.created_at"
                    label="Added On"
                    data-type="date:YYYY-MM-DD"
                    :formatter="formatter"
                  />

                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'Remove From Hive'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="removeHiveMember(row.hive_member.id)"
                        >
                          <i class="icon-fa icon-fa-trash" />
                        </a>
                        <!-- {{row.favorites.length}} -->
                        <!-- <a v-if="row.favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart" />
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart-o" />
                      </a> -->
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>

            <sweet-modal ref="add_to_hive" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">Add Members to Hive</h6>
              </div>

              <div class="card-body">
                <table-component :data="getNonHiveUsers" ref="add_users_to_hive" table-class="table">
                  <table-column :sortable="false" :filterable="false" label>
                    <template slot-scope="row">
                      <div>
                        <!-- <router-link :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                        v-b-popover.hover="'View Profile'">-->

                        <img
                          @error="onImageLoadFailure($event)"
                          @click="$refs.tabpic.open(),modelopenpic(row.profile_picture)"
                          v-b-popover.hover="'View Profile Picture'"
                          height="27"
                          width="27"
                          :src="imagelink + row.profile_picture"
                        />
                        <!-- </router-link> -->
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="first_name"
                    sort-by="User Name"
                    label="User Name"
                  >
                    <template slot-scope="row">
                      <div>
                        <router-link
                          :to="{ name: 'viewprofile', params: { userId: row.id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column show="phone" :sortable="true" sort-by="Phone" label="Phone" />
                  <table-column label="Actions" :sortable="false" :filterable="false">
                    <template slot-scope="row">
                      <div class="table__actions">
                        <a
                          v-if="Delete == 1"
                          v-b-popover.hover="'Add To Hive'"
                          class="btn btn-default btn-sm"
                          data-delete
                          data-confirmation="notie"
                          @click="addUser(row.id)"
                        >
                          <i class="icon-fa icon-fa-plus" />
                        </a>
                      </div>
                    </template>
                  </table-column>
                </table-component>
              </div>
            </sweet-modal>

            <sweet-modal ref="user_settings" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Hive Settings</h6>
              </div>
              <div style="padding:35px;">
                <h6 style="text-align:left;">In Hive</h6>
              <div class="row settings">
               
                <label class="col-md-8" style="text-align:left;">Can view other members in my hive</label>
                <toggle-button 
                  :value="userSettingForm.inHiveViewMembers"
                  color="yellowgreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  v-model.trim="userSettingForm.inHiveViewMembers"
                  class="toggleStyle"
                />
              
              </div>
              <h6 style="text-align:left;">Out Of Hive</h6>
             <div class="row settings">
                <label class="col-md-8" style="text-align:left;">Can invite me to an event</label>
                <toggle-button
                  :value="userSettingForm.outHiveInviteEvent"
                  color="yellowgreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  v-model.trim="userSettingForm.outHiveInviteEvent"
                  class="toggleStyle"
                />
             </div>

             <div class="row settings">
                <label class="col-md-8" style="text-align:left;">Can view details of my profile</label>
                <toggle-button
                  :value="userSettingForm.outHiveViewMyProfile"
                  color="yellowgreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  class="toggleStyle"
                  v-model.trim="userSettingForm.outHiveViewMyProfile"
                />
              </div>

              <div class="row settings">
                <label class="col-md-8" style="text-align:left;">Can view other members of my hive</label>
                <toggle-button
                  :value="userSettingForm.outHiveViewMyHiveMembers"
                  color="yellowgreen"
                  :sync="true"
                  :labels="{checked: 'Yes', unchecked: 'No'}"
                  class="toggleStyle"
                  v-model.trim="userSettingForm.outHiveViewMyHiveMembers"
                />
              </div>
              </div>
              <br/>
              <button
                type="updateUserSetting"
                class="btn btn-primary"
                @click.prevent="updateUserSetting"
              >Submit</button>

                       
            </sweet-modal>

            <sweet-modal ref="user_swarm" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Swarm List</h6>
              </div>

              <div class="card-body">
                <table-component 
                 :data="getUserSwarm"
                 ref="getSwarm" 
                 table-class="table"
                 sort-by="id"
                 sort-order="desc">

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    show="title"
                    sort-by="Title"
                    label="Title"
                  >
                    <template slot-scope="row">
                      <div>
                         <a v-if="row.user_favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star" style="color: #ffd700"/>
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-star-o" style="color: #ffd700"/>
                      </a>
                        <router-link
                          :to="{ name: 'viewswarmprofile', params: { swarmId: row.swarm_id }}"
                          class="user-color"
                          v-b-popover.hover="'View Profile'"
                        >{{row.swarm[0].title}}</router-link>
                      </div>
                    </template>
                  </table-column>

                  <table-column
                    :sortable="true"
                    :filterable="false"
                    label="Role"
                  >
                    <template slot-scope="row">
                      <div class="swarm-admin" v-if="row.swarm[0].creator_id == row.user_id">{{"Owner"}}</div>
                      <div class="swarm-member" v-else>{{"Member"}}</div>
                  </template>
                  </table-column>

                  <table-column
                    show="created_at"
                    label="Joined On"
                    data-type="date:YYYY-MM-DD"
                    :formatter="formatter"
                  />
                  <!-- <table-column>
                    <template slot-scope="row">
                      <a v-if="row.user_favorites.length != 0" v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart" />
                      </a>
                      <a v-else v-b-popover.hover="'User favourites'" class="btn btn-default btn-sm">
                        <i   class="icon-fa icon-fa-heart-o" />
                      </a>
                  </template>
                    
                  </table-column> -->
                </table-component>
              </div>
            </sweet-modal>
            <sweet-modal ref="user_contacts_model" modal-theme="dark" overlay-theme="dark">
              <div class="card-header-1">
                <h6 class="card-head-1">User's Contacts</h6>
              </div>
              <div style="padding:10px;"></div>              
               <div class="card-body">
                <table-component :data="getUserContacts" ref="user_contacts" table-class="table">

                  <table-column
                    show="name"
                    label="Contact Name"
                   :sortable="false"
                  />
                  <table-column
                    show="phone_number"
                    label="Contact Number"
                   :sortable="false"
                  />
                </table-component>
              </div>
              
            </sweet-modal>
          </div>
          <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
    </div>

      </tab>
      <tab id="nonBizee-users" name="Non Bizee Users">
        <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <!-- <div class="card-header">
            <h6>All Registered Users</h6>
            <div class="card-actions" />
          </div>-->
          <div class="card-body" v-if="Read == 1">
            <table-component
              :data="getNonBizeeUsers"
              ref="allNonBizeeUsers"
              sort-by="id"
              sort-order="asc"
              table-class="table"
            >
            <table-column show="name" :sortable="false"  label="Name" />

            <table-column show="phone_number" :sortable="false"  label="Phone" />
              
                
              
              <table-column
                show="created_at"
                label="Registered On"
                data-type="date:YYYY-MM-DD"
                :formatter="formatter"
              />
             
            </table-component>

            
            </div>
            <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
        </div>


        
      </tab>
    </tabs>
    </div>
 
    
  </div>
</template>



<script type="text/babel">
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink, imageLink_user } from "../../../helpers/constants";
import Vue from "vue";
import Ls from "../../../services/ls";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import { Tabs, Tab } from "vue-tabs-component";

export default {
  components: {
    TableComponent,
    SweetModal,
    TableColumn,
    tabs: Tabs,
    tab: Tab
  },
  data() {
    return {
      ok: "",
      hiveMembers: [],
      NotAvailabe: "N/A",
      modelopen: "",
      username: "",
      walletAmount: "",
      profilePic: "",
      wallet: "",
      authID: "0900",
      users: [],
      userID: "",
      UserID: "",
      UID: "",
      uID:"",
      Uid:"",
      userCId: "",
      value: "",
      imagelink: imageLink,
      imageLink_user: imageLink_user,
      Read: "",
      Write: "",
      Delete: "",
      form: {
        wallet: "",
        submitBtn: "Update",
        submitBtn2: "Subtract"
      },
      socialForm: {
      morningMT: [],
      morningF: [],
      morningS: [],
      morningSU: [],

      afternoonMT: [],
      afternoonF: [],
      afternoonS: [],
      afternoonSU: [],
      
      eveningMT: [],
      eveningF: [],
      eveningS: [],
      eveningSU: [],
      
      latenightMT: [],
      latenightF: [],
      latenightS: [],
      latenightSU: [],
      },
      socialHousrList: [],
      socialHousrList2: [],
      lists: [],
      morningMT:false,
      morningF: false,
      morningS: false,
      morningSU: false,

      afternoonMT: false,
      afternoonF: false,
      afternoonS: false,
      afternoonSU: false,
      
      eveningMT: false,
      eveningF: false,
      eveningS: false,
      eveningSU: false,
      
      latenightMT: false,
      latenightF: false,
      latenightS: false,
      latenightSU: false,

      userSettingForm: {
        inHiveViewMembers: false,
        outHiveInviteEvent: false,
        outHiveViewMyProfile: false,
        outHiveViewMyHiveMembers: false
      
      },
    };
  },

  mounted: function() {
    this.authID = Ls.get("auth.roleID");
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
  },
  methods: {
    formatter(value, rowProperties) {
      return moment(value).format("Do MMM YYYY");
    },
    async getUsers({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/users/getUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
        );
        // console.log(response.data.data)
        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.gif";
    },
    destroyUser(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.destroyUserData(id);
        }
      });
    },
    async destroyUserData(id) {
      try {
        let response = await window.axios.delete("/api/admin/users/" + id);
        this.$refs.allUsers.refresh();
        window.toastr["success"]("User Deleted", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    removeHiveMember(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.removeHiveMemberData(id);
        }
      });
    },
    async removeHiveMemberData(id) {
      try {
        let response = await window.axios.post(
          `/api/admin/users/remove_from_hive?user_id=${id}&owner_id=${this.UserID}`
        );
        this.$refs.getHive.refresh();
        window.toastr["success"]("User Removed from Hive", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    addMembersToHive(ID) {
      this.hiveID = ID;
      this.$refs.add_users_to_hive.refresh();
    },
    async getNonHiveUsers({ page, filter, sort }) {
      try {
        if (this.UserID) {
          const response = await axios.get(
            `/api/admin/hive/getUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}&owner_id=${this.UserID}`
          );
          return {
            data: response.data.ResponseBody.Data,
            pagination: {
              totalPages: response.data.last_page,
              currentPage: page,
              count: response.data.count
            }
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async addUser(id) {
      try {
        let response = await window.axios.post(
          `/api/admin/hive/add_to_hive?owner_id=${this.UserID}&user_id=${id}&is_admin=${1}`
        );
        window.toastr["success"]("User Added", "Success");
        this.$refs.getHive.refresh();
        this.$refs.add_users_to_hive.refresh();
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    blockUser(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {
          window.toastr["info"]("Cancel");
        },
        submitCallback: function() {
          self.blockUserData(id);
        }
      });
    },
    async blockUserData(id) {
      try {
        let response = await window.axios.put("/api/admin/users/" + id);
        this.$refs.allUsers.refresh();
        this.users = response.data;
        window.toastr["success"]("User Blocked", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    unblockUser(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {
          window.toastr["info"]("Cancel");
        },
        submitCallback: function() {
          self.unblockUserData(id);
        }
      });
    },
    async unblockUserData(id) {
      try {
        let response = await window.axios.put("/api/admin/users/unblock/" + id);
        this.$refs.allUsers.refresh();
        this.users = response.data;
        window.toastr["success"]("User UnBlocked", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    bucketModel(id) {
      this.userID = id;
      this.userBucketList();
    },
    async userBucketList() {
      try {
        if (this.userID) {
          const response = await window.axios.get(
            `/api/admin/users/userBucketList/` + this.userID
          );
          this.lists = response.data;
        } else {
          return {
            lists: []
          };
        }
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    async availableModel(id) {
      this.uID = id;
      this.morningMT =false,
      this.morningF = false,
      this.morningS = false,
      this.morningSU = false,

      this.afternoonMT = false,
      this.afternoonF = false,
      this.afternoonS = false,
      this.afternoonSU = false,
      
      this.eveningMT = false,
      this.eveningF = false,
      this.eveningS = false,
      this.eveningSU = false,
      
      this.latenightMT = false,
      this.latenightF = false,
      this.latenightS = false,
      this.latenightSU = false,
      this.userAvailableHour(id);
    },
    async userAvailableHour(id) {
      try {
        if (id) {
          // this.socialForm= {}
          const response = await window.axios.get(
            `/api/admin/users/get_social_hours?user_id=${id}`
          );
          this.socialHousrList = response.data.ResponseBody.Data;
          this.socialHousrList.forEach((key, value)  => {
            this.socialHousrList2 = key.slots;
            this.socialHousrList2.forEach((key1, value1)  => {
              if(key1.slot.id == '1' && key.day== "Monday-Thursday"){
                this.morningMT = true;
              }
              if(key1.slot.id == '1' && key.day== "Friday"){
                this.morningF = true;
              }
              if(key1.slot.id == '1' && key.day== "Saturday"){
                this.morningS = true;
              }
              if(key1.slot.id == '1' && key.day== "Sunday"){
                this.morningSU = true;
              }

              if(key1.slot.id == '2' && key.day== "Monday-Thursday"){
                this.afternoonMT = true;
              }
              if(key1.slot.id == '2' && key.day== "Friday"){
                this.afternoonF = true;
              }
              if(key1.slot.id == '2' && key.day== "Saturday"){
                this.afternoonS = true;
              }
              if(key1.slot.id == '2' && key.day== "Sunday"){
                this.afternoonSU = true;
              }

              if(key1.slot.id == '3' && key.day== "Monday-Thursday"){
                this.eveningMT = true;
              }
              if(key1.slot.id == '3' && key.day== "Friday"){
                this.eveningF = true;
              }
              if(key1.slot.id == '3' && key.day== "Saturday"){
                this.eveningS = true;
              }
              if(key1.slot.id == '3' && key.day== "Sunday"){
                this.eveningSU = true;
              }

              if(key1.slot.id == '4' && key.day== "Monday-Thursday"){
                this.latenightMT = true;
              }
              if(key1.slot.id == '4' && key.day== "Friday"){
                this.latenightF = true;
              }
              if(key1.slot.id == '4' && key.day== "Saturday"){
                this.latenightS = true;
              }
              if(key1.slot.id == '4' && key.day== "Sunday"){
                this.latenightSU = true;
              }
            });
            
});
        } else {
          this.socialHousrList = []
        }
      } catch (error) {
        if (error) {
         this.socialHousrList = []
        }
      }
    },
    async socialHourSubmit() {
      try {
        let response = await window.axios.post(
          `/api/admin/users/set_social_hours?user_id=${this.uID}`, {slot: this.socialForm});
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        this.$router.push("/users");
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    async submit() {
      try {
        let response = await window.axios.post(
          "/api/admin/users/updateBucketList",
          { data: this.lists }
        );
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        this.$router.push("/users");
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    hiveModel(id) {
      this.UserID = id;
      this.$refs.getHive.refresh();
    },
    async getUserHive() {
      try {
        if (this.UserID) {
          const response = await axios.get(
            `/api/admin/users/userHive?user_id=${this.UserID}&is_admin=${1}&page=${-1}&limit=${-1}`
          );
          console.log( response.data.ResponseBody.Data)
          return {
            data: response.data.ResponseBody.Data
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    swarmModel(id) {
      this.UID = id;
      this.$refs.getSwarm.refresh();
    },
    async getUserSwarm() {
      try {
        if (this.UID) {
          const response = await axios.get(
            `/api/admin/swarm/get_swarm?user_id=${this.UID}&is_admin=${1}`
          );
          return {
            data: response.data.ResponseBody.Data
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async hourSlotmMT(slot,day,morningMT){
      if(morningMT==true && this.socialForm.morningMT.length==0){
       this.socialForm.morningMT={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.morningMT.length != 0){
this.socialForm.morningMT=[]; 
      } 
      else {
this.socialForm.morningMT={ "slot_id": slot, "day": day }; 
      }      
    },
    async hourSlotmF(slot,day,morningF){
      if(morningF==true && this.socialForm.morningF.length==0){
       this.socialForm.morningF={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.morningF.length != 0){
this.socialForm.morningF=[]; 
      }else{
        this.socialForm.morningF={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotmS(slot,day,morningS){
     if(morningS==true && this.socialForm.morningS.length==0){
       this.socialForm.morningS={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.morningS.length != 0){
this.socialForm.morningS=[]; 
      }else{
        this.socialForm.morningS={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotmSU(slot,day,morningSU){
     if(morningSU==true && this.socialForm.morningSU.length==0){
       this.socialForm.morningSU={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.morningSU.length != 0){
this.socialForm.morningSU=[]; 
      }else{
        this.socialForm.morningSU={ "slot_id": slot, "day": day }; 
      }
    },

    async hourSlotanMT(slot,day,afternoonMT){
     if(afternoonMT==true && this.socialForm.afternoonMT.length==0){
       this.socialForm.afternoonMT={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.afternoonMT.length != 0){
this.socialForm.afternoonMT=[]; 
      }else{
        this.socialForm.afternoonMT={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotanF(slot,day,afternoonF){
if(afternoonF==true && this.socialForm.afternoonF.length==0){
       this.socialForm.afternoonF={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.afternoonF.length != 0){
this.socialForm.afternoonF=[]; 
      }else{
        this.socialForm.afternoonF={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotanS(slot,day,afternoonS){
     if(afternoonS==true && this.socialForm.afternoonS.length==0){
       this.socialForm.afternoonS={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.afternoonS.length != 0){
this.socialForm.afternoonS=[]; 
      }else{
        this.socialForm.afternoonS={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotanSU(slot,day,afternoonSU){
     if(afternoonSU==true && this.socialForm.afternoonSU.length==0){
       this.socialForm.afternoonSU={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.afternoonSU.length != 0){
this.socialForm.afternoonSU=[]; 
      }else{
        this.socialForm.afternoonSU={ "slot_id": slot, "day": day }; 
      }
    },

    async hourSloteMT(slot,day,eveningMT){
     if(eveningMT==true && this.socialForm.eveningMT.length==0){
       this.socialForm.eveningMT={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.eveningMT.length != 0){
this.socialForm.eveningMT=[]; 
      }else{
        this.socialForm.eveningMT={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSloteF(slot,day,eveningF){
     if(eveningF==true && this.socialForm.eveningF.length==0){
       this.socialForm.eveningF={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.eveningF.length != 0){
this.socialForm.eveningF=[]; 
      }else{
        this.socialForm.eveningF={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSloteS(slot,day,eveningS){
     if(eveningS==true && this.socialForm.eveningS.length==0){
       this.socialForm.eveningS={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.eveningS.length != 0){
this.socialForm.eveningS=[]; 
      }else{
        this.socialForm.eveningS={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSloteSU(slot,day,eveningSU){
     if(eveningSU==true && this.socialForm.eveningSU.length==0){
       this.socialForm.eveningSU={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.eveningSU.length != 0){
this.socialForm.eveningSU=[]; 
      }else{
        this.socialForm.eveningSU={ "slot_id": slot, "day": day }; 
      }
    },

    async hourSlotlnMT(slot,day,latenightMT){
     if(latenightMT==true && this.socialForm.latenightMT.length==0){
       this.socialForm.latenightMT={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.latenightMT.length != 0){
this.socialForm.latenightMT=[]; 
      }else{
        this.socialForm.latenightMT={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotlnF(slot,day,latenightF){
     if(latenightF==true && this.socialForm.latenightF.length==0){
       this.socialForm.latenightF={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.latenightF.length != 0){
this.socialForm.latenightF=[]; 
      }else{
        this.socialForm.latenightF={ "slot_id": slot, "day": day }; 
      }
    },
    async hourSlotlnS(slot,day,latenightS){ 
     if(latenightS==true && this.socialForm.latenightS.length==0){
       this.socialForm.latenightS={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.latenightS.length != 0){
this.socialForm.latenightS=[]; 
      }else{
        this.socialForm.latenightS={ "slot_id": slot, "day": day };
      }
    },
    async hourSlotlnSU(slot,day,latenightSU){
     if(latenightSU==true && this.socialForm.latenightSU.length==0){
       this.socialForm.latenightSU={ "slot_id": slot, "day": day, "todelete": true }; 
      }else if(this.socialForm.latenightSU.length != 0){
this.socialForm.latenightSU=[]; 
      }else{
        this.socialForm.latenightSU={ "slot_id": slot, "day": day }; 
      }
    },
    async settingModel(id) {
      this.Uid = id;
      this.getUserSettings();
    },
    async getUserSettings() {
      try {
        if (this.Uid) {
          const response = await window.axios.get(
            `/api/admin/users/get_settings?user_id=${this.Uid}`
          );
          this.userSettingForm.inHiveViewMembers = Boolean(Number(response.data.ResponseBody.Data.in_hive_view_members));
          this.userSettingForm.outHiveInviteEvent = Boolean(Number(response.data.ResponseBody.Data.out_hive_invite_event));
          this.userSettingForm.outHiveViewMyProfile = Boolean(Number(response.data.ResponseBody.Data.out_hive_view_my_profile));
          this.userSettingForm.outHiveViewMyHiveMembers = Boolean(Number(response.data.ResponseBody.Data.out_hive_view_my_hive_members));
        }
      } catch (error) {
        if (error) {
        this.userSettingForm.inHiveViewMembers = false
        this.userSettingForm.outHiveInviteEvent = false
        this.userSettingForm.outHiveViewMyProfile = false
        this.userSettingForm.outHiveViewMyHiveMembers = false
        }
      }
    },
    async updateUserSetting() {
      try {
        let response = await window.axios.post(
          `/api/admin/users/set_settings?user_id=${this.Uid}&in_hive_view_members=${Number(this.userSettingForm.inHiveViewMembers)}&out_hive_view_my_hive_members=${Number(this.userSettingForm.outHiveViewMyHiveMembers)}&out_hive_invite_event=${Number(this.userSettingForm.outHiveInviteEvent)}&out_hive_view_my_profile=${Number(this.userSettingForm.outHiveViewMyProfile)}&out_hive_view_members=${0}`);
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    async userContacts(id) {
      this.userCId = id;
      this.$refs.user_contacts.refresh();
    },
    async getUserContacts(){
      try {
        if (this.userCId) {
          const response = await axios.get(
            `/api/admin/users/get_user_contacts?user_id=${this.userCId}`
          );
          return {
            data: response.data
          };
        } else {
          return {
            data: []
          };
        }
      } catch (error) {
        return {
          data: []
        };
      }
    },
    async getNonBizeeUsers({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/users/getNonBizeeUsers?page=${page}&filter=${filter}&sortcol=${sort.fieldName}&sort=${sort.order}`
        );
        // console.log(response)
        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
  }
};
</script>
