<template>
  <div class="row invitationpage">
    <div class="hostprofilepic">
      <img
      @error="onImageLoadFailure($event)"
      height="70"
      width="70"
      :src="imagelink + owner_pic"
      />
      <!-- <img
        @error="onImageLoadFailure($event)"
        height="100"
        width="100"
        :src="imageLink + form.profile_picture"
      /> -->
    </div>

    <div class="buttonoptions">
      <button type="button" @click.prevent="reject" class="btn btn-reject">No</button>
      <button type="button" @click.prevent="accept" class="btn btn-accept">Yes</button>
      <h5>Can you make it?</h5>
    </div>
    <h6 class="host">Host: {{host_name}}</h6>
    <h5 class="host-details">{{first_name}}'s Great Get-Together</h5>
    <div class="host-details">
      <p class="host">{{date}}</p>
      <p class="host">{{from_time.concat('-').concat(to_time)}}</p>
    </div>
    <div class="calender-details">
      <a class="calender" href="#">{{calender}}</a>
    </div>
    <div class="host-details">
      <!-- <i class="icon-fa icon-fa-map-marker" style="font-size:36px" /> -->
      <img
        id="loc"
        src="/assets/img/favicons/loc.png"
        alt="Loc"
        width="30"
      >
      <p class="host-loc">{{location}}</p>
    </div>
    <div class="bizee-description">
        <h5 class="host-details">Get Bizee!</h5>
        <p class="host-details">Get updates on {{first_name}}'s Great Get-Together. Read & post comments with {{first_name}} and her guests. Create your own quick and easy events...when your guests are available.</p>
    </div>
    <a href="#" class="app-store">
      <img
        id="app-store"
        src="/assets/img/appstore.png"
        alt="App Store"
        style="margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 36%;
    width: 25%;"
      >
    </a>
    <!--  -->
    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> -->
        <div class="host-details guest">
<h5>Guest List</h5>
        </div>
        <div class="host-details icons">
<i  v-if="isShowGuest" class='icon-fa icon-fa-angle-up' v-on:click="isShowGuest = !isShowGuest" style="font-size: 24px; color:#808080"/>
    <i v-else class='icon-fa icon-fa-angle-down' v-on:click="isShowGuest = !isShowGuest" style="font-size: 24px; color:#808080"/>
        </div>

    
    <!-- </div> -->
    
    <div class="host-details guest">
<hooper v-if="isShowGuest" :itemsToShow="5" :itemsToSlide="5">
  <slide v-for="(slide, indx) in guests" :key="indx" :index="indx">
    <div v-if="slide.guest">
        <img
                      @error="onImageLoadFailure($event)"
                      width="100%"
                      height="36.73px"
                      :src="imagelink + slide.guest[0].profile_picture"
                    />
                    {{slide.guest[0].first_name}}
    </div>
    <div v-else>
                  <img
                      @error="onImageLoadFailure($event)"
                      width="100%"
                      height="36.73px"
                       :src="imagelink + 'placeholder.png'"
                    />
                    {{slide.phoneguest[0].name}}
    </div>
    
  </slide>
 
  <!-- <hooper-navigation slot="hooper-addons"></hooper-navigation> -->
</hooper>
    
    </div>
    <div class="host-details icons">
        <p class="host-details guests" v-if="isShowGuest" >View more guests in Bizee app</p>
    </div>
    
<div class="host-details guest">
 <h5 class="host-details guest">Host Notes</h5>
</div>
   <div class="host-details icons">
    <i  v-if="isShowNotes" class='icon-fa icon-fa-angle-up' v-on:click="isShowNotes = !isShowNotes" style="font-size: 24px; color:#808080"/>
    <i v-else class='icon-fa icon-fa-angle-down' v-on:click="isShowNotes = !isShowNotes" style="font-size: 24px; color:#808080"/>
    </div>
    <div class="host-details guest">
<p class="host-details host-notes" v-if="isShowNotes">{{host_notes}}</p>
    </div>
    
 
  </div>
</template>
<script type="text/babel">
import { VueEditor } from "vue2-editor";
import {Hooper, Slide, Navigation as HooperNavigation} from 'hooper';
import 'hooper/dist/hooper.css';
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import Ls from "../../../services/ls";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";

export default {
  data() {
    return {
      isShowGuest: true,
      isShowNotes: true,
      imagelink: imageLink,
      host_name: "",
      owner_pic:"",
      owner_id: "",
      first_name: "",
      date: "",
      location: "",
      host_notes: "",
      from_time: "",
      to_time: "",
      calender: "Add to Calender",
      guests: [],
      form: {
        page_html_content: "",
        title_english: ""
      }
    };
  },
  mounted() {
    this.$utils.setLayout("default");
    this.getInviteData();
  },
  components: {
    TableComponent,
    TableColumn,
    Hooper,
    Slide,
    HooperNavigation,

    VueEditor
  },

  methods: {
    async getInviteData() {
      try {
        const response = await axios.get(`/api/event_invite?event_id=${20}`);
        // console.log(response.data.ResponseBody.Data[0])
        this.owner_id = response.data.ResponseBody.Data[0].event_owner[0].id;
        this.host_name = response.data.ResponseBody.Data[0].event_owner[0].first_name.concat(' ').concat(response.data.ResponseBody.Data[0].event_owner[0].last_name)
        // console.log(response.data.ResponseBody.Data[0].event_owner[0].first_name)
        this.first_name = response.data.ResponseBody.Data[0].event_owner[0].first_name;
        this.owner_pic = response.data.ResponseBody.Data[0].event_owner[0].profile_picture;
        this.date = moment(response.data.ResponseBody.Data[0].eventbizee[0].date.concat(' 00:00:00')).format("Do MMM YYYY");
        this.from_time = moment('2019-10-18 '+response.data.ResponseBody.Data[0].eventbizee[0].from_time).format("h:mm");
        this.to_time = moment('2019-10-18 '+response.data.ResponseBody.Data[0].eventbizee[0].to_time).format("h:mm");
        this.location = response.data.ResponseBody.Data[0].eventbizee[0].location;
        this.host_notes = response.data.ResponseBody.Data[0].eventbizee[0].host_notes;
        this.guests = response.data.ResponseBody.Data[0].events;
        // console.log(this.guests)

// console.log(this.to_time)
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "guest.png";
    },
    async accept(){
      try {
        let eventId = this.$route.params.eventId;
        let phone = "+923047508005";
        let response = await window.axios.post(`/api/admin/events/invitation_response?event_id=${eventId}&owner_id=${this.owner_id}&response_status=${1}&phone=${phone}&type=${'Phone'}`);
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        // this.$router.push("/users");
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    },
    async reject(){
      try {
        let eventId = this.$route.params.eventId;
        let phone = "+923047508005";
        let response = await window.axios.post(`/api/admin/events/invitation_response?event_id=${eventId}&owner_id=${this.owner_id}&response_status=${0}&phone=${phone}&type=${'Phone'}`);
        window.toastr["success"](
          response.data.ResponseHeader.ResponseMessage,
          "Success"
        );
        // this.$router.push("/users");
      } catch (error) {
        if (error) {
          window.toastr["error"](
            response.data.ResponseHeader.ResponseMessage,
            "Error"
          );
        }
      }
    }
  }
};
</script>
