<template>
  <div id="dashboardPage" class="main-content">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-4">
        <a class="dashbox" href="/users">
          <i class="icon-fa icon-fa-user text-primary" />
          <span class="title">
            <template>
              <animated-number :value="this.UserCount" :round="1" :duration="2000" />
            </template>
          </span>
          <span class="desc">Bizee Users</span>
        </a>
      </div>

      <div class="col-md-12 col-lg-6 col-xl-4">
        <a class="dashbox" href="/employees">
          <i class="icon-fa icon-fa icon-fa-briefcase text-primary" />
          <span class="title">
            <template>
              <animated-number :value="this.EmployeeCount" :round="1" :duration="2000" />
            </template>
          </span>
          <span class="desc">Total Employees</span>
        </a>
      </div>

      <div class="col-md-12 col-lg-6 col-xl-4">
        <a class="dashbox" href="/swarm">
          <i class="icon-fa icon-fa-archive text-primary" />
          <span class="title">
            <template>
              <animated-number :value="this.SwarmCount" :round="1" :duration="2000" />
            </template>
          </span>

          <span class="desc">Total Swarms</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xl-6 mt-2">
        <div class="card">
          <div class="card-header">
            <h6>
              <i class="icon-fa text-warning icon-fa-line-chart" />Total Users This Week
            </h6>
          </div>
          <div class="card-body">
            <line-graph
              :labels="['Mon','Tue','Wed','Thu', 'Fri', 'Sat', 'Sun']"
              :values="usersGraphV"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-xl-6 mt-2">
        <div class="card">
          <div class="card-header">
            <h6>
              <i class="icon-fa icon-fa-line-chart text-warning" />Total Swarms This Week
            </h6>
          </div>

          <div class="card-body">
            <line-graph
              :labels="['Mon','Tue','Wed','Thu', 'Fri', 'Sat', 'Sun']"
              :values="swarmsGraphV"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 mt-2">
        <div class="card">
          <div class="card-header">
            <h6>
              <i class="icon-fa text-warning  icon-fa-users" />Recent Users
            </h6>
          </div>
          <div class="card-body">
            <table-component
              :data="getRecentUsers"
              sort-by="row.id"
              sort-order="desc"
              table-class="table"
              class="max-hight"
            >
              <table-column :sortable="false" :filterable="false" label="User Name">
                <template slot-scope="row">
                  <div>
                    <router-link
                      :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                    >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                  </div>
                </template>
              </table-column>

              <table-column show="phone" label="Phone" />
              <table-column show="created_at" label="Created At" />

              <table-column :sortable="false" :filterable="false" label>
                <template slot-scope>
                  <div class="table__actions">
                    <router-link to="/users">
                      <a v-b-popover.hover="'View ALL Users'" class="btn btn-default btn-sm">
                        <i class="icon-fa text-warning-2 icon-fa-users" />
                      </a>
                    </router-link>
                  </div>
                </template>
              </table-column>
            </table-component>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 mt-2">
        <div class="card">
          <div class="card-header">
            <h6>
              <i class="icon-fa text-warning  icon-fa-users" />Recent Employees
            </h6>
          </div>
          <div class="card-body">
            <table-component
              :data="getRecentEmployees"
              sort-by="row.id"
              sort-order="desc"
              table-class="table"
              class="max-hight"
            >
              <table-column :sortable="false" :filterable="false" label="User Name">
                <template slot-scope="row">
                  <div>
                    <router-link
                      :to="{ name: 'viewprofile', params: { userId: row.id }}"
                      class="user-color"
                    >{{row.first_name.concat(' ').concat(row.last_name)}}</router-link>
                  </div>
                </template>
              </table-column>

              <table-column show="phone" label="Phone" />
              <table-column show="created_at" label="Created At" />

              <table-column :sortable="false" :filterable="false" label>
                <template slot-scope>
                  <div class="table__actions">
                    <router-link to="/employees">
                      <a v-b-popover.hover="'View ALL Employees'" class="btn btn-default btn-sm">
                        <i class="icon-fa text-warning-2 icon-fa-users" />
                      </a>
                    </router-link>
                  </div>
                </template>
              </table-column>
            </table-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/babel">
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import LineGraph from "../../../components/chartjs/LineChart.vue";
import BarGraph from "../../../components/chartjs/BarChart.vue";
import PieGraph from "../../../components/chartjs/PieChart.vue";
import { TableComponent, TableColumn } from "vue-table-component";
import AnimatedNumber from "animated-number-vue";

Vue.use(BootstrapVue);
export default {
  components: {
    LineGraph,
    BarGraph,
    PieGraph,
    TableComponent,
    TableColumn,
    AnimatedNumber
  },
  data() {
    return {
      value: this.UserCount,
      value: this.EmployeeCount,
      value: this.SwarmCount,
      basicCount: 0,
      PremiumC: 0,
      today: 0,
      UserCount: 0,
      EmployeeCount: 0,
      SwarmCount: 0,
      usersGraphV: [],
      swarmsGraphV: []
    };
  },

  mounted: function() {
    this.usersGraph();
    this.swarmsGraph();
    this.getUserCount();
    this.getEmployeeCount();
    this.getSwarmCount();

    // this.BasicCount();
  },

  methods: {
    repeatgraph: function() {
      setInterval(() => {
        this.usersGraph();
        this.swarmsGraph();
      }, 50000);
    },

    async usersGraph() {
      try {
        const response = await axios.get(`/api/admin/users/graph`);
        this.usersGraphV = response.data.counterperday;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    async swarmsGraph() {
      try {
        const response = await axios.get(`/api/admin/swarm/swarmGraph`);
        this.swarmsGraphV = response.data.counterperday;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    async getTodayDate() {
      try {
        const response = await axios.get(`/api/admin/files/filetoday`);
        this.today = response.data;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    async getUserCount() {
      try {
        const response = await axios.get(`/api/admin/users/usercountget`);
        this.UserCount = response.data;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    async getEmployeeCount() {
      try {
        const response = await axios.get(`/api/admin/employees/employeecount`);
        this.EmployeeCount = response.data;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    async getSwarmCount() {
      try {
        const response = await axios.get(
          `/api/admin/swarm/swarmTotal`
        );
        this.SwarmCount = response.data;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },

    //  async BasicCount() {
    //   try {
    //     const response = await axios.get(
    //       `/api/admin/subscriptions/basicTotal/get`
    //     );
    //     this.basicCount = response.data;
    //   } catch (error) {
    //     if (error) {
    //       window.toastr["error"]("There was an error", "Error");
    //     }
    //   }
    // },
    async getRecentUsers({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/users/recent/get?page=${page}&filter=${filter}`
        );

        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    async getRecentEmployees({ page, filter, sort }) {
      try {
        const response = await axios.get(
          `/api/admin/employees/recent/get?page=${page}&filter=${filter}`
        );

        return {
          data: response.data.data,
          pagination: {
            totalPages: response.data.last_page,
            currentPage: page,
            count: response.data.count
          }
        };
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
    formatToPrice(value) {
      return ` ${value}`;
    }
  }
};
</script>
