<template>
  <div class="main-content">
    <div class="page-header">
      <h3 class="page-title">Background Colors</h3>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link to="/dashboard">
            <a>Home</a>
          </router-link>
        </li>
        <li class="breadcrumb-item active">Background Colors</li>
      </ol>
      <!-- <div class="page-actions">
        <router-link to="/Employees/add" v-if="Write == 1">
        <a href="/Employees/add" class="btn btn-primary">
          <i class="icon-fa icon-fa-plus"/> New Employee
        </a>
        </router-link>
      </div>-->
    </div>
    <div class="row" ref="ok">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header">
            <h6>Background Colors</h6>
          </div>
          <div class="card-body" v-if="Read == 1"  ref="okk">
            <div class="row">
              <div
                 class="bg-color col-md-3"
                :style="{'background-color':bgcolor.color_code}"
                v-for="bgcolor in BgColors"
                 :key="bgcolor.id"
                  ref="okkk"
              >
              <div  class="bg-color-code"
                :style="{'color':bgcolor.color_code}"
                  ref="okkk">
                {{bgcolor.color_code}}

              </div>
                  
                  <a
                      v-if="Delete == 1"
                      v-b-popover.hover="'Delete Bg Color'"
                      class="btn btn-default btn-sm delete-color"
                      style="background:white;"
                      data-delete
                      data-confirmation="notie"
                      @click="destroyBgColor(bgcolor.id)"
                    >
                      <i class="icon-fa icon-fa-trash" />
                    </a>
              </div>
            </div>
            
            
          </div>
          <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" v-if="Write == 1">
          <div class="card-header">
            <h6>Add New background color</h6>
          </div>
          <div class="card-body" :style="{'background-color':colors.hex8}">
            
            <chrome-picker v-model="colors" />
            <button
                type="addBgColor"
                @click="addBgColor()"
                class="btn btn-warning"
              ><i class="icon-fa icon-fa-plus" /> Add New Color</button>
              <br/>
            
          </div>
        </div>
        <div v-else class="alert alert-info" role="alert">
                  Sorry! you dont have permission
                          </div>
      </div>
    </div>
  </div>
</template>



<script type="text/babel">
import Ls from "../../../services/ls";
import { TableComponent, TableColumn } from "vue-table-component";
import { imageLink } from "../../../helpers/constants";
import Vue from "vue";
import BootstrapVue from "bootstrap-vue";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import moment from "moment";
import { SweetModal, SweetModalTab } from "sweet-modal-vue";
import { Photoshop,Chrome } from 'vue-color'

var colors = {
  hex: '#194d33',
  hsl: { h: 150, s: 0.5, l: 0.2, a: 1 },
  hsv: { h: 150, s: 0.66, v: 0.30, a: 1 },
  rgba: { r: 25, g: 77, b: 51, a: 1 },
  a: 1
}


export default {
  components: {
    TableComponent,
    TableColumn,
    SweetModal,
    'photoshop-picker': Photoshop,
    'chrome-picker': Chrome,
  },
  data() {
    return {
      colors:"",
      colorCode:[],
      BgColors:[],
      Read: "",
      Write: "",
      Delete: "",
    };
  },
  mounted() {
    this.Read = Ls.get("auth.permissionsRead");
    this.Write = Ls.get("auth.permissionsWrite");
    this.Delete = Ls.get("auth.permissionsDelete");
    this.admin_id = Ls.get("auth.admin_id");
    this.getBgColor();
  },

  methods: {
    async addBgColor() {
      // alert(this.colors.hex)
      if(this.colors.hex8 != undefined){
        try {
        this.colorCode = this.colors.hex8.split('#');
          
        let response = await window.axios.post(
          `/api/admin/settings/add_bg_color?color_code=${this.colorCode[1]}` 
        );
        window.toastr["success"]("BgColor Added", "Success");
        location.reload()
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
      }
      
    },
    async getBgColor() {
      // alert(this.colors.hex)
        try {      
        let response = await window.axios.get(
          "/api/admin/settings/get_bg_color"
        );
        this.BgColors = response.data.ResponseBody.Data;
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
      
      
    },
    destroyBgColor(id) {
      let self = this;
      window.notie.confirm({
        text: "Are you sure?",
        cancelCallback: function() {},
        submitCallback: function() {
          self.destroyBgColorData(id);
        }
      });
    },
    async destroyBgColorData(id) {
      try {
        let response = await window.axios.delete(`/api/admin/settings/delete_bg_color?color_id=${id}`);
        location.reload()
        window.toastr["success"]("Bg Color Deleted", "Success");
      } catch (error) {
        if (error) {
          window.toastr["error"]("There was an error", "Error");
        }
      }
    },
  }
};
</script>
