<template>
  <header class="site-nav">
    <a
      class="brand"
      style="margin: 0; color:#ffa800; padding-left:44%; letter-spacing: 2px; font-size: 22px;"
      href="#"
    >bizee</a>
    <img
      id="banner"
      src="/assets/img/bannerr.png"
      alt="Banner"
      style="width: 100%;
        margin-bottom: 3px;
        margin-top: 3px;"
    />
  </header>
</template>
<script type="text/babel">
import Auth from "../../../services/auth";
import { imageLink } from "../../../helpers/constants";
import Ls from "../../../services/ls";
export default {
  data() {
    return {
      imagelink: imageLink,
      profilepicture: ""
    };
  },
  mounted: function() {
    this.profilepicture = Ls.get("auth.profile_picture");
    this.adminId = Ls.get("auth.admin_id");
  },
  methods: {
    onNavToggle() {
      this.$utils.toggleSidebar();
    },
    onImageLoadFailure(event) {
      event.target.src = this.imagelink + "no-photo.jpg";
    },
    logout() {
      Auth.logout().then(() => {
        this.$router.replace("/login");
      });
    }
  }
};
</script>
