<template>
  <footer class="site-footer">
    <div class="row connectUs">
      <div class="connectUs col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h6 class="connectUs">Connect with Us</h6>
        <div class="social-icons">
        <i class="icon-fa icon-fa-facebook" style="font-size:24px;    margin-right: 32px;" />
        <i class="icon-fa icon-fa-instagram" style="font-size:24px;    margin-right: 32px;" />
        <i class="icon-fa icon-fa-twitter" style="font-size:24px" />
        </div>
        <p class="connectUs"><b>© 2019 Bizee. All Rights Reserved</b></p>
        <p class="footer-description">Get updates on Lianna's Great Get-Together. Read & post comments with Lianna and her guests. Create your own quick and easy events...when your guests are available.</p>
           <div class="bizee-pages">
             <a href="#">Privacy Policy</a>
           </div>
           <div class="bizee-pages">
             <a href="#">Terms of servics</a>
           </div>
      </div>

    </div>
  </footer>
</template>