<template>
  <div class="sidebar-left">
    <div class="sidebar-body scroll-pane">
      <div class="side-nav">
        <v-collapse accordion>

          <v-collapse-item active-url="/dashboard">
            <router-link
              slot="item-title"
              to="/dashboard">
              <i class="icon-fa icon-fa-dashboard" style="font-size:18px"/>Dashboard
            </router-link>
          </v-collapse-item>

            <v-collapse-item active-url="/users">
            <router-link
              slot="item-title"
              to="/users">
              <i class="icon-fa icon-fa-users" style="font-size:18px"/>Users
            </router-link>
          </v-collapse-item>

          <v-collapse-item active-url="/employees">
            <router-link
              slot="item-title"
              to="/employees">
              <i class="icon-fa icon-fa-briefcase" style="font-size:18px"/>Employees
            </router-link>
          </v-collapse-item>

          <!-- <v-collapse-item active-url="/hive">
            <router-link
              slot="item-title"
              to="/hive">
              <i class="icon-fa icon-fa-forumbee" style="font-size:20px"/>Hive
            </router-link>
          </v-collapse-item> -->

        <v-collapse-item active-url="/swarm">
            <router-link
              slot="item-title"
              to="/swarm">
              <i class="icon-fa icon-fa-archive" style="font-size:18px"/>Swarm
            </router-link>
          </v-collapse-item>

        <v-collapse-item active-url="/reports">
              <a slot="item-title" href="#"
              >
                <i class="icon-fa icon-fa-calendar" style="font-size:18px"/>Events
                <span class="icon-fa arrow icon-fa-fw"/>
              </a>

              <router-link to="/events/bizeeEvents">
                Bizee Events
              </router-link>

              <router-link to="/events/phoneEvents">
                Phone Events
              </router-link>

             </v-collapse-item>

             <v-collapse-item active-url="/backgroundColors">
            <router-link
              slot="item-title"
              to="/backgroundColors">
              <i class="icon-fa icon-fa-paint-brush" style="font-size:18px"/>Background Colors
            </router-link>
          </v-collapse-item>

             <!-- <v-collapse-item active-url="/packagefeatures">
            <router-link
              slot="item-title"
              to="/packagefeatures">
              <i class="icon-fa icon-fa-archive"/>Features
            </router-link>
          </v-collapse-item>
          
          <v-collapse-item active-url="/roleslist" v-if="auth_user.user_permissions.user_can_read == 1">
            <router-link
              slot="item-title"
              to="/roleslist">
              <i class="icon-fa icon-fa-lock"></i>Portal Access Control
            </router-link>
          </v-collapse-item> 
            <v-collapse-item active-url="/ranking">
              <router-link
                slot="item-title"
                to="/ranking">
                <i class="icon-fa icon-fa-percent"/>Rankings
              </router-link>
            </v-collapse-item>

            <v-collapse-item active-url="/users/abuse">
              <router-link
                slot="item-title"
                to="/users/abuse">
                <i class="icon-fa icon-fa-envelope"/>User Reports/Abuse
              </router-link>
            </v-collapse-item>
          

          <v-collapse-item active-url="/cms">
            <router-link
              slot="item-title"
              to="/cms">
              <i class="icon-fa icon-fa-clipboard"/>CMS
            </router-link>
          </v-collapse-item>  -->


        </v-collapse>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
  // import Ls from "../../../services/ls"
  import { TableComponent, TableColumn } from 'vue-table-component'
  import {imageLink} from '../../../helpers/constants' 
  import Vue from 'vue'
  import BootstrapVue from 'bootstrap-vue'
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'
  // import moment from 'moment';


  export default {
    data () {
    return {
      users: [],
      imagelink : imageLink ,
      auth_user: []
     
     
      }
    },
 
    mounted(){
      this.getAuthUser();
      },
      methods: {
        async getAuthUser() {
        try {
        let response = await window.axios.get('/api/admin/employees/authuser');
        this.auth_user=response.data;
        // console.log(this.auth_user.);
        } catch (error) {
        if (error) {
          window.toastr['error'](response.data.ResponseHeader.ResponseMessage, 'Error')
        }
      }
      },
      }
    };
</script>
